@using Darnton.Blazor.DeviceInterop.Geolocation
@using Pertamina.Website_KPI.Bsui.Services.AppInfo
@using Pertamina.Website_KPI.Bsui.Services.Authentication
@using Pertamina.Website_KPI.Bsui.Services.Authentication.Components
@using Pertamina.Website_KPI.Bsui.Services.Geolocation
@using Pertamina.Website_KPI.Bsui.Services.Geolocation.Components
@using Pertamina.Website_KPI.Bsui.Services.HealthCheck.Components
@using Pertamina.Website_KPI.Bsui.Services.Telemetry
@using Pertamina.Website_KPI.Bsui.Services.Telemetry.ApplicationInsights.Components


@inherits LayoutComponentBase


@inject IOptions<AppInfoOptions> _appInfoOptions
@inject IOptions<AuthenticationOptions> _authenticationOptions
@inject IOptions<GeolocationOptions> _geolocationOptions
@inject IOptions<TelemetryOptions> _telemetryOptions

@inject AuthenticationStateProvider _authenticationStateProvider
@inject IGeolocationService _geolocationService

<!DOCTYPE html>
<html lang="en">


<head>
    <PageTitle>Kilang Pertamina International</PageTitle>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="Pertamina.Website_KPI.Bsui.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="favicon.ico">
    <link href="admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link rel="stylesheet" href=".admin/vendor/select2/css/select2.min.css">
    <link href="admin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Style css -->
    <link href="admin/css/style.css" rel="stylesheet">
</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <NavMenuAdmin />

    @Body

     <div class="footer">
            <div class="copyright">
               <p>Copyright © Kilang Pertamina International 2023</p>
            </div>
        </div>
</body>
</html>


