<!-- Topbar Area Start -->
<div class="topbar-area style1 py-4">
    <div class="containers custom">
        <div class="row y-middle">
            <div class="col-lg-7">
                <ul class="topbar-menu">
                    <li class="">
                        <a href="#" target="">Beranda </a>

                        <ul class="sub-menu">
                        </ul>
                    </li>
                    <li class="">
                        <a href="/hubungikami" target="">Hubungi Kami </a>

                        <ul class="sub-menu">
                        </ul>
                    </li>
                    <li class="">
                        <a href="https://recruitment.pertamina.com/" target="_blank">Karir </a>

                        <ul class="sub-menu">
                        </ul>
                    </li>
                    <li class="">
                        <a href="#" target="_blank">Informasi Tender </a>

                        <ul class="sub-menu">
                        </ul>
                    </li>
                    <li class="">
                        <a href="" target="">Media &amp; Information </a>

                        <ul class="sub-menu">
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 text-right">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="Dropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="flag flag-indonesia"></i>
                    </a>
                </div>
                @*<div width="50" height="25" flex-shrink: 0;>
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14" fill="none">
                <g clip-path="url(#clip0_28_218)">
                <path d="M0 0H20.2647V13.5098H0V0Z" fill="white" />
                <path d="M0 0H20.2647V6.7549H0V0Z" fill="#FF0000" />
                </g>
                <defs>
                <clipPath id="clip0_28_218">
                <rect width="20.2647" height="13.5098" fill="white" />
                </clipPath>
                </defs>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="5" viewBox="0 0 9 5" fill="none">
                <path d="M9 0H0L4.5 4.5L9 0Z" fill="#9C9C9C"/>
                </svg>
                </div>*@
                @*<div class="toolbar-sl-share">
                <ul>
                <li style="margin-right: 20px !important;">
                <a href="https://www.facebook.com/pertamina.h.energi">
                <i class="fa fa-facebook-square"></i>
                </a>
                </li>
                <li style="margin-right: 20px !important;">
                <a href="https://www.instagram.com/phe.pertamina">
                <i class="fa fa-instagram"></i>
                </a>
                </li>
                <li style="margin-right: 20px !important;">
                <a href="https://www.linkedin.com/company/phepertamina/">
                <i class="fa fa-linkedin"></i>
                </a>
                </li>
                <li style="margin-right: 20px !important;">
                <a href="https://www.youtube.com/">
                <i class="fa fa-youtube-play"></i>
                </a>
                </li>
                </ul>
                </div>*@
            </div>
        </div>
    </div>
</div>
<!-- Topbar Area End -->
<!-- Menu Start -->
<div class="menu-area menu-sticky">
    <div class="containers custom">
        <div class="row-table">
            <div class="col-cell header-logo">
                <div class="logo-area lg:h-[80px]">
                    <a href="/">
                        <img class="h-auto lazy"
                             src="/assets/images/kpilogoo.svg"
                             data-src="/assets/images/kpilogoo.svg"
                             alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-cell">
                <div class="rs-menu-area">
                    <div class="main-menu">
                        <nav class="rs-menu hidden-md">
                            <ul class="nav-menu">
                                <li class="menu-item-has-children">
                                    <a href="#" target="">Profil Perusahaan</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/profil-perusahaan/profil-riwayat" target="">
                                                Profil dan Riwayat Singkat
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/profil-perusahaan/komisaris" target="">
                                                Dewan Komisaris
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/profil-perusahaan/direksi" target="">
                                                Direksi
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/profil-perusahaan/struktur-perusahaan" target="">
                                                Struktur Grup Pertamina
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/profil-perusahaan/struktur-organisasi" target="">
                                                Struktur Organisasi
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/profil-perusahaan/pemegang-saham" target="">
                                                Struktur Pemegang Saham
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/profil-perusahaan/infografis" target="">
                                                Jejak Langkah
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/profil-perusahaan/penghargaan" target="">
                                                Penghargaan dan Sertifikat
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/profil-perusahaan/anggaran" target="">
                                                Anggaran Dasar
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#" target="">
                                        Hubungan Investor
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/hubungan-investor/laporan-tahunan"
                                               target="">Laporan Tahunan</a>
                                        </li>
                                        <li>
                                            <a href="/hubungan-investor/laporan-keberlanjutan"
                                               target="">Laporan Keberlanjutan</a>
                                        </li>
                                        <li>
                                            <a href="/hubungan-investor/laporan-keuangan"
                                               target="">Laporan Keuangan</a>
                                        </li>
                                        <li>
                                            <a href="/hubungan-investor/Ikhtisar-keuangan"
                                               target="">Ikhtisar Keuangan</a>
                                        </li>
                                        <li><a href="/hubungan-investor/rups" target="">RUPS</a> </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#" target="">Tata Kelola </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/tata-kelola/piagam-komisaris"
                                               target="">Piagam Dewan Komisaris</a>
                                        </li>
                                        <li>
                                            <a href="/tata-kelola/piagam-direksi"
                                               target="">Piagam Dewan Direksi</a>
                                        </li>
                                        <li>
                                            <a href="/tata-kelola/komite-audit" target="">
                                                Komite Audit
                                            </a>
                                        </li>
                                        @*<li>
                                        <a href="/tata-kelola/komite-investasi"
                                        target="">Komite Investasi</a>
                                        </li>*@
                                        <li>
                                            <a href="/tata-kelola/komite-nominasi"
                                               target="">Komite Nominasi dan Renumerasi</a>
                                        </li>
                                        <li>
                                            <a href="/tata-kelola/sekretaris-perusahaan" target="">
                                                Sekretaris Perusahaan
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/tata-kelola/internal-audit" target="">
                                                Internal Audit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/tata-kelola/kode-etik" target="">
                                                Kode Etik
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/tata-kelola/sistem-pelaporan"
                                               target="">Sistem Pelaporan Pelanggaran</a>
                                        </li>
                                        <li>
                                            <a href="/tata-kelola/kebijakan-manajemen"
                                               target="">Kebijakan Manajemen Resiko</a>
                                        </li>
                                        <li>
                                            <a href="/tata-kelola/kebijakan-antikorupsi"
                                               target="">Kebijakan Anti Korupsi</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#" target="">
                                        Inovasi
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/inovasi/inovasi-bisnis"
                                               target="">Continuous Improvement Program</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#" target="">keberlanjutan</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/keberlanjutan/kebijakan" target="">
                                                Kebijakan Keberlanjutan
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/keberlanjutan/komite"
                                               target="">Komite Keberlanjutan</a>
                                        </li>
                                        <li>
                                            <a href="/keberlanjutan/inisiatif"
                                               target="">Inisiatif Keberlanjutan</a>
                                        </li>
                                        <li>
                                            <a href="/keberlanjutan/fokus" target="">
                                                Fokus Keberlanjutan
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/keberlanjutan/strategi" target="">
                                                Strategi ESG
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#" target="">Tanggung Jawab Sosial</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/sosial/tanggungjawab-sosial" target="">
                                                Ikhtisar Tanggung Jawab Sosial
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/sosial/dampak-sosial"
                                               target="">
                                                Social Impact Assessment dan Pelibatan Komunitas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/sosial/pemberdayaan"
                                               target="">Program Pemberdayaan Masyarakat</a>
                                        </li>
                                        <li>
                                            <a href="/sosial/desa-energi" target="">
                                                Desa Energi Berdikari
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/sosial/pendidikan"
                                               target="">
                                                Pendidikan, Kesehatan, dan
                                                Dampak Ekonomi Tidak Langsung
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-cell pr-6 md:pr-0">
                <div class="expand-btn-inner md:pr-8">
                    <ul>
                        <li class="search-parent">
                            <a class="hidden-xs rs-search text-red md:text-white hover:text-red"
                               data-bs-toggle="modal" data-bs-target="#searchModal" href="#">
                                <i class="flaticon-search"></i>
                            </a>
                        </li>
                        <li class="humburger md:hidden lg:hidden">
                            <a id="nav-expander" class="nav-expander bar" href="#">
                                <div class="bar">
                                    <span class="dot1"></span>
                                    <span class="dot2"></span>
                                    <span class="dot3"></span>
                                    <span class="dot4"></span>
                                    <span class="dot5"></span>
                                    <span class="dot6"></span>
                                    <span class="dot7"></span>
                                    <span class="dot8"></span>
                                    <span class="dot9"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->
<!-- Canvas Menu start -->
<!-- Canvas Menu end -->
<!-- Canvas Mobile Menu start -->
<nav class="right_menu_togle mobile-navbar-menu" id="mobile-navbar-menu">
    <div class="close-btn">
        <a id="nav-close2" class="nav-close">
            <div class="line">
                <span class="line1"></span>
                <span class="line2"></span>
            </div>
        </a>
    </div>
    <ul class="nav-menu">
        <li class="menu-item-has-children">
            <a href="#" target="">Profil Perusahaan</a>
            <ul class="sub-menu">
                <li>
                    <a href="/profil-perusahaan/profil-riwayat" target="">
                        Profil dan Riwayat Singkat
                    </a>
                </li>
                <li>
                    <a href="/profil-perusahaan/komisaris" target="">
                        Dewan Komisaris
                    </a>
                </li>
                <li>
                    <a href="/profil-perusahaan/direksi" target="">
                        Direksi
                    </a>
                </li>
                <li>
                    <a href="/profil-perusahaan/struktur-perusahaan" target="">
                        Struktur Grup Pertamina
                    </a>
                </li>
                <li>
                    <a href="/profil-perusahaan/struktur-organisasi" target="">
                        Struktur Organisasi
                    </a>
                </li>
                <li>
                    <a href="/profil-perusahaan/pemegang-saham" target="">
                        Struktur Pemegang Saham
                    </a>
                </li>
                <li>
                    <a href="/profil-perusahaan/infografis" target="">
                        Jejak Langkah
                    </a>
                </li>
                <li>
                    <a href="/profil-perusahaan/penghargaan" target="">
                        Penghargaan dan Sertifikat
                    </a>
                </li>
                <li>
                    <a href="/profil-perusahaan/anggaran" target="">
                        Anggaran Dasar
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item-has-children">
            <a href="#" target="">Hubungan Investor</a>
            <ul class="sub-menu">
                <li>
                    <a href="/hubungan-investor/laporan-tahunan"
                       target="">Laporan Tahunan</a>
                </li>
                <li>
                    <a href="/hubungan-investor/laporan-keberlanjutan"
                       target="">Laporan Keberlanjutan</a>
                </li>
                <li>
                    <a href="/hubungan-investor/laporan-keuangan"
                       target="">Laporan Keuangan</a>
                </li>
                <li>
                    <a href="/hubungan-investor/Ikhtisar-keuangan"
                       target="">Ikhtisar Keuangan</a>
                </li>
                <li><a href="/hubungan-investor/rups" target="">RUPS</a> </li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="#" target="">Tata Kelola</a>
            <ul class="sub-menu">
                <li>
                    <a href="/tata-kelola/piagam-komisaris"
                       target="">Piagam Dewan Komisaris</a>
                </li>
                <li>
                    <a href="/tata-kelola/piagam-direksi"
                       target="">Piagam Dewan Direksi</a>
                </li>
                <li>
                    <a href="/tata-kelola/komite-audit" target="">
                        Komite Audit
                    </a>
                </li>
                <li>
                    <a href="/tata-kelola/komite-investasi"
                       target="">Komite Investasi</a>
                </li>
                <li>
                    <a href="/tata-kelola/komite-nominasi"
                       target="">Komite Nominasi dan Renumerasi</a>
                </li>
                <li>
                    <a href="/tata-kelola/sekretaris-perusahaan" target="">
                        Sekretaris Perusahaan
                    </a>
                </li>
                <li>
                    <a href="/tata-kelola/internal-audit" target="">
                        Internal Audit
                    </a>
                </li>
                <li>
                    <a href="/tata-kelola/kode-etik" target="">
                        Kode Etik
                    </a>
                </li>
                <li>
                    <a href="/tata-kelola/sekretaris-perusahaan"
                       target="">Sistem Pelaporan Pelanggaran</a>
                </li>
                <li>
                    <a href="/tata-kelola/kebijakan-manajemen"
                       target="">Kebijakan Manajemen Resiko</a>
                </li>
                <li>
                    <a href="/tata-kelola/kebijakan-antikorupsi"
                       target="">Kebijakan Anti Korupsi</a>
                </li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="#" target="">Inovasi</a>
            <ul class="sub-menu">
                <li>
                    <a href="/inovasi/inovasi-bisnis"
                       target="">Inovasi Bisnis</a>
                </li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="#" target="">Keberlanjutan</a>
            <ul class="sub-menu">
                <li>
                    <a href="/keberlanjutan/kebijakan" target="">
                        Kebijakan Keberlanjutan
                    </a>
                </li>
                <li>
                    <a href="/keberlanjutan/komite"
                       target="">Komite Keberlanjutan</a>
                </li>
                <li>
                    <a href="/keberlanjutan/inisiatif"
                       target="">Inisiatif Keberlanjutan</a>
                </li>
                <li>
                    <a href="/keberlanjutan/fokus" target="">
                        Fokus Keberlanjutan
                    </a>
                </li>
                <li>
                    <a href="/keberlanjutan/strategi" target="">
                        Strategi ESG
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="#" target="">Tanggung Jawab Sosial</a>
            <ul class="sub-menu">
                <li>
                    <a href="/sosial/tanggungjawab-sosial" target="">
                        Ikhtisar Tanggung Jawab Sosial
                    </a>
                </li>
                <li>
                    <a href="/sosial/dampak-sosial"
                       target="">
                        Social Impact Assessment dan Pelibatan Komunitas
                    </a>
                </li>
                <li>
                    <a href="/sosial/pemberdayaan"
                       target="">Program Pemberdayaan Masyarakat</a>
                </li>
                <li>
                    <a href="/sosial/desa-energi" target="">
                        Desa Energi Berdikari
                    </a>
                </li>
                <li>
                    <a href="/sosial/pendidikan"
                       target="">
                        Pendidikan, Kesehatan, dan
                        Dampak Ekonomi Tidak Langsung
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="canvas-contact">
        @* <div class="address-area">
        <div class="address-list">
        <div class="info-icon">
        <i class="flaticon-location"></i>
        </div>
        <div class="info-content">
        <h4 class="title">Address</h4>
        <em>
        Jl. TB Simatupang Kav. 99 Jakarta Selatan 12520
        </em>
        </div>
        </div>
        <div class="address-list">
        <div class="info-icon">
        <i class="flaticon-call"></i>
        </div>
        <div class="info-content">
        <h4 class="title">Phone</h4>
        <em>Phone: <a href:tel="+622129547000">(021) 29547000</a></em>
        </div>
        </div>
        <div class="address-list">
        <div class="info-icon">
        <i class="flaticon-email"></i>
        </div>
        <div class="info-content">
        <h4 class="title">Fax</h4>
        <em>Fax: (021) 29547086</em>
        </div>
        </div>
        </div>*@
        <div class="row">
            <p class="text-white">
                <a href="/en/home" class="p-0 active">EN</a> | <a href="/id/home"
                                                                  class="p-0 ">ID</a>
            </p>
        </div>
    </div>
</nav>
<!-- Canvas Menu end -->

@code {
    //private bool collapseNavMenu = true;

    //private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    //private void ToggleNavMenu()
    //{
    //    collapseNavMenu = !collapseNavMenu;
    //}
}
