@page "/sosial/pemberdayaan"

<div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/Rectangle-551.png)">
    <div class="container width-blog">
        <div class="breadcrumbs-inner">
            <h2 class="page-title">
                Tanggung Jawab Sosial Perusahaan (CSR)
            </h2>
        </div>
    </div>
</div>

<div class="rs-inner-blog pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container custom width-blog">
        <div class="row">
            <div class="col-lg-4 col-md-12 order-last">
                <div class="widget-area">
                    <div class="search-widget mb-50 rounded-full shadow-2xl ">
                        <div class="search-wrap">
                            <form action="/id/csr-archive">
                                <input type="search" placeholder="Searching..." name="q" class="search-input" value="">
                                <button type="submit" value="Search"><i class="flaticon-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="recent-posts mb-50 rounded-full shadow-2xl">
                        <div class="widget-title">
                            <h3 class="title" style="text-align:center">
                                <b>Categories</b>
                            </h3>
                            <hr />
                        </div>
                        <div class="recent-post-widget no-border">
                            <div class="flex mb-6 gap-2">
                                <a class="inline-blogk rounded-full text-red-1 bg-gray-200 font-bold py-2 px-5" href="/sosial/dampak-sosial">
                                    Social Impact
                                </a>
                            </div>
                            <div class="flex mb-6 gap-2">
                                <a class="inline-blogk rounded-full text-white-2 bg-red font-bold py-2 px-5" href="/sosial/pemberdayaan">
                                    Economic Empowerment
                                </a>
                            </div>
                            <div class="flex mb-6 gap-2">
                                <a class="inline-blogk rounded-full text-red-1 bg-gray-200 font-bold py-2 px-5" href="/sosial/desa-energi">
                                    Community Development
                                </a>
                            </div>
                            <div class="flex mb-6 gap-2">
                                <a class="inline-blogk rounded-full text-red-1 bg-gray-200 font-bold py-2 px-5" href="/sosial/pendidikan">
                                    Education
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="recent-posts mb-50 rounded-full shadow-2xl">
                        <div class="widget-title">
                            <h3 class="title" style="text-align:center">
                                <b>Recent</b>
                            </h3>
                            <hr />
                        </div>
                        <div class="recent-post-widget no-border">
                            <div class="post-img">
                                <a href="/id/csr/social-impact-assessment-dan-pelibatan-komunitas">
                                    <img class="h-auto lazy" src="https://phe.pertamina.com/assets/images/placeholder.jpeg?format=webp" data-src="https://phe.pertamina.com/uploads/2023/01/6e24692c-fcb3-4659-9cc8-7ce40437691f.JPG"
                                         data-srcset="https://phe.pertamina.com/uploads/2023/01/6e24692c-fcb3-4659-9cc8-7ce40437691f.JPG?width=100&height=50 1x, https://phe.pertamina.com/uploads/2023/01/6e24692c-fcb3-4659-9cc8-7ce40437691f.JPG?width=200&height=100 2x" alt="">
                                </a>
                            </div>
                            <div class="post-desc">
                                <a href="/id/csr/social-impact-assessment-dan-pelibatan-komunitas">Social Impact Assessment dan Pelibatan Komunitas</a>
                                <span class="date-post">21-06-2023</span>
                            </div>
                        </div>
                        <div class="recent-post-widget no-border">
                            <div class="post-img">
                                <a href="/id/csr/desa-energi-berdikari">
                                    <img class="h-auto lazy" src="https://phe.pertamina.com/assets/images/placeholder.jpeg?format=webp" data-src="https://phe.pertamina.com/uploads/2023/01/2ca52219-1ef2-4b04-9cbf-3270d4a18bc0.JPG"
                                         data-srcset="https://phe.pertamina.com/uploads/2023/01/2ca52219-1ef2-4b04-9cbf-3270d4a18bc0.JPG?width=100&height=50 1x, https://phe.pertamina.com/uploads/2023/01/2ca52219-1ef2-4b04-9cbf-3270d4a18bc0.JPG?width=200&height=100 2x" alt="">
                                </a>
                            </div>
                            <div class="post-desc">
                                <a href="/id/csr/desa-energi-berdikari">Desa Energi Berdikari</a>
                                <span class="date-post">21-06-2023</span>
                            </div>
                        </div>
                        <div class="recent-post-widget no-border">
                            <div class="post-img">
                                <a href="/id/csr/pendidikan-kesehatan-dan-dampak-ekonomi-tidak-langsung">
                                    <img class="h-auto lazy" src="https://phe.pertamina.com/assets/images/placeholder.jpeg?format=webp" data-src="https://phe.pertamina.com/uploads/2023/01/0be7eb98-33c3-443e-8e76-83931e9741ed.JPG"
                                         data-srcset="https://phe.pertamina.com/uploads/2023/01/0be7eb98-33c3-443e-8e76-83931e9741ed.JPG?width=100&height=50 1x, https://phe.pertamina.com/uploads/2023/01/0be7eb98-33c3-443e-8e76-83931e9741ed.JPG?width=200&height=100 2x" alt="">
                                </a>
                            </div>
                            <div class="post-desc">
                                <a href="/id/csr/pendidikan-kesehatan-dan-dampak-ekonomi-tidak-langsung">Pendidikan, Kesehatan dan Dampak Ekonomi Tidak Langsung</a>
                                <span class="date-post">21-06-2023</span>
                            </div>
                        </div>
                        <div class="recent-post-widget no-border">
                            <div class="post-img">
                                <a href="/id/csr/harmoni-bersama-pekerja-dan-masyarakat">
                                    <img class="h-auto lazy" src="https://phe.pertamina.com/assets/images/placeholder.jpeg?format=webp" data-src="https://phe.pertamina.com/uploads/2022/12/690f4a3c-2d94-4baa-adf4-abb348af27d0.jpeg"
                                         data-srcset="https://phe.pertamina.com/uploads/2022/12/690f4a3c-2d94-4baa-adf4-abb348af27d0.jpeg?width=100&height=50 1x, https://phe.pertamina.com/uploads/2022/12/690f4a3c-2d94-4baa-adf4-abb348af27d0.jpeg?width=200&height=100 2x" alt="">
                                </a>
                            </div>
                            <div class="post-desc">
                                <a href="/id/csr/harmoni-bersama-pekerja-dan-masyarakat">Harmoni Bersama Pekerja dan Masyarakat</a>
                                <span class="date-post">21-06-2023</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main -->
            <div class="col-lg-8 pr-35 md-pr-15 md-mt-50">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-details">
                            <div class="blog-full">
                                <div class="flex mb-6 gap-2">
                                    <span class="inline-blogk rounded-full text-white-1 bg-blue font-bold py-0 px-4">Economic Empowerment</span>
                                </div>
                                <h1-1 class="text-4xl primary-color3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1-1>
                                <ul class="single-post-meta">
                                    <li>
                                        <span class="p-date">16-06-2023</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="bs-img mb-35">
                                <a href="#"><img class="lazy w-full lazy" src="https://phe.pertamina.com/uploads/2023/01/5fb19412-7e8b-4053-aacc-ec943bceda60.jpg?quality=10&width=50" data-src="https://phe.pertamina.com/uploads/2023/01/5fb19412-7e8b-4053-aacc-ec943bceda60.jpg?format=webp" data-srcset="https://phe.pertamina.com/uploads/2023/01/5fb19412-7e8b-4053-aacc-ec943bceda60.jpg?format=webp&width=500 1x, https://phe.pertamina.com/uploads/2023/01/5fb19412-7e8b-4053-aacc-ec943bceda60.jpg?format=webp&width=800 2x" alt="Program Pemberdayaan Masyarakat"></a>
                            </div>
                            <div class="blog-full">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                <div class="col-auto flex-none" style="text-align:right">
                                    <a class="readmore" href="/en/investor-relations/financial-reports">
                                        Lanjutkan Baca <div class="btn-arrow">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <hr />
                            <div class="blog-full">
                                <h1-1 class="text-4xl primary-color3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1-1>
                                <ul class="single-post-meta">
                                    <li>
                                        <span class="p-date">16-06-2023</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="bs-img mb-35">
                                <a href="#"><img class="lazy w-full lazy" src="https://phe.pertamina.com/uploads/2023/01/5fb19412-7e8b-4053-aacc-ec943bceda60.jpg?quality=10&width=50" data-src="https://phe.pertamina.com/uploads/2023/01/5fb19412-7e8b-4053-aacc-ec943bceda60.jpg?format=webp" data-srcset="https://phe.pertamina.com/uploads/2023/01/5fb19412-7e8b-4053-aacc-ec943bceda60.jpg?format=webp&width=500 1x, https://phe.pertamina.com/uploads/2023/01/5fb19412-7e8b-4053-aacc-ec943bceda60.jpg?format=webp&width=800 2x" alt="Program Pemberdayaan Masyarakat"></a>
                            </div>
                            <div class="blog-full">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                                <div class="col-auto flex-none" style="text-align:right">
                                    <a class="readmore" href="/en/investor-relations/financial-reports">
                                        Lanjutkan Baca <div class="btn-arrow">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="mt-4">
                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
