@page "/sosial/tanggungjawab-sosial"

<div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/Rectangle-551.png)">
    <div class="container width-blog">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Tanggung Jawab Sosial Perusahaan (CSR)
            </h1>
        </div>
    </div>
</div>
<div class="rs-about style5 relative pt-140 md-pt-80 pb-5">
    <div class="container width-blog">
        <div class="row">
            <div class="col-lg-6 md:pr-8">
                <div class="left-side text-right mr-3">
                    <img class="h-auto lazy" src="assets/images/foto/Rectangle25.png" alt="Profil">
                </div>
            </div>
            <div class="col-lg-6 md-pt-50">
                <div class="sec-title4 mb-30">
                    <div class="sec-title text-left mb-14">
                        <h2 class="title title2 primary-color3 mb-14">
                            Program Tanggung Jawab Sosial Perusahaan
                        </h2>
                        <p class="text-left">
                            Sejalan dengan tata nilai dan prinsip etika PHE Subholding Upstream dalam menjaga keberlanjutan bisnis perusahaan, PHE Subholding Upstream menjadikan Kebijakan Keberlanjutan sebagai salah satu bentuk tanggung jawab inti Perusahaan.
                            Kebijakan ini mencakup inisiatif yang dilakukan PHE Subholding Upstream dalam mengintegrasikan strategi dan aktivitas perusahaan dengan lebih baik lagi terutama dalam konteks Environmental, Social and Governance (ESG) dan ekonomi yang berkelanjutan.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-20 pb-20 white-bg2" id="SectionSubsidiary">
    <div class="container width-blog">
        <div class="text-center mb-8 pb-10">
            <h2 class="c-title-blue">
                TANGGUNG JAWAB SOSIAL
            </h2>
            <h3 class="title primary-color md:text-5xl">
                Program Kegiatan CSR
            </h3>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-5 mb-70">
            <div class="bg-white rounded-full shadow-2xl text-center p-4">
                <img class="h-auto1" src="assets/images/foto/Rectangle 19.png" alt="Profil">
                <br /><br />
                <h3 class="font-bold text-sm mb-1">Mangga Agrimania: Inovasi Terbaru Industri Pertanian yang Ramah Lingkungan</h3>
                <br />
                <h3 class="font-bold text-xs mb-1 text-gray-200">21-06-2023</h3>
            </div>
            <div class="bg-white rounded-full shadow-2xl text-center p-4">
                <img class="h-auto1" src="assets/images/foto/Rectangle 22.png" alt="Profil">
                <br /><br />
                <h3 class="font-bold text-sm mb-1">Selama 2022, PT KPI Realisasikan 63 Program TJSL dan Raih 80 Penghargaan</h3>
                <br />
                <h3 class="font-bold text-xs mb-1 text-gray-200">16-06-2023</h3>
            </div>
            <div class="bg-white rounded-full shadow-2xl text-center p-4">
                <img class="h-auto1" src="assets/images/foto/Rectangle 24.png" alt="Profil">
                <br /><br />
                <h3 class="font-bold text-sm mb-1">Inovasi PT KPI olah gambut jadi air bersih untuk warga</h3>
                <br />
                <h3 class="font-bold text-xs mb-1 text-gray-200">13-06-2023</h3>
            </div>
        </div>
    </div>
</div>
<div class="pt-20 pb-20 white-bg2" id="SectionSubsidiary">
    <div class="container width-blog">
        <div class="btn-part text-center">
            <a class="button" href="/en/company/profile">
                Pelajari Lebih Lanjut
            </a>
        </div>
    </div>
</div>
@code {

}
