@page "/sosial/tanggungjawab"


<div>
    <div class="rs-breadcrumbs -mt-20 lazy" data-src="https://phe.pertamina.com/assets/images/banner/profile.jpg?format=webp"
         data-retina="https://phe.pertamina.com/assets/images/banner/profile@2x.jpg?format=webp">
        <div class="container width-blog">
            <div class="breadcrumbs-inner">
                <h1 class="page-title">
                    Corporate Social Responsibility
                </h1>
            </div>
        </div>
    </div>

    <div class="container width-blog"> 
    
    </div>
</div>
@code {

}
