@page "/inovasi/inovasi-bisnis"


<div>
    <div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/Rectangle-551.png)">
        <div class="container width-blog">
            <div class="breadcrumbs-inner">
                <h1 class="page-title">Inovasi Bisnis</h1>
            </div>
        </div>
    </div>

    <div class="rs-blog style1 shape-bg pt-20 pb-40">
        <div class="container width-blog">
            <div class="sec-title text-left mb-14">
                <h2 class="title title2 primary-color3 mb-14">
                    Continuous Improvement Program (CIP)
                </h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Salah satu komitmen PHE dalam menjaga kualitas bisnis Perusahaan adalah melalui penerapan CIP secara konsisten dalam bentuk Project Collaboration Improvement (PC Prove), Functional Team Improvement (FT Prove), Individual Improvement (I Prove) dan Replication Team Improvement (RT Prove).</p>
                    <p>Tahun 2022 PHE mampu menghasilkan 947 program CIP di seluruh wilayah kerja baik di Kantor Pusat/Regional/Services dan Anak Perusahaan yang berkaitan dengan aspek bisnis Perusahaan diantaranya:</p>
                    <ol>
                        <li>Zero LTI (Loss Time Incident) dan peningkatan kinerja HSSE</li>
                        <li>Peningkatan success ratio eksplorasi, penambahan <em>resources </em>dan <em>reserves </em>yang signifikan</li>
                        <li>Pelaksanaan proyek yang OTOBOSOR</li>
                        <li>Peningkatan produksi melalui pengembangan lapangan baru &amp; optimalisasi lapangan eksisting</li>
                        <li>Efisiensi biaya kegiatan operasi produksi &amp; penunjang</li>
                        <li><em>Strategic partnership</em> dan <em>new business opportunity</em></li>
                        <li>Sinergi antar anak perusahaan PERTAMINA untuk memaksimalkan nilai tambah.</li>
                        <li>Integrasi data digital informasi.</li>
                    </ol>
                    <p>Untuk mendukung komitmen pelaksanaan program CIP, PHE secara konsisten menyelenggarakan Upstream Improvement &amp; Innovation Awards (UIIA) sebagai sarana berbagi pengetahuan terhadap hasil karya inovasi terbaik di lingkungan PHE. Hasil karya terbaik dari UIIA selanjutnya akan diikutsertakan pada Forum Sharing CIP berjenjang di level Korporat / Nasional maupun Internasional.</p>
                    <p>Berbagai prestasi telah mampu ditorehkan dan mendapatkan penghargaan di tingkat nasional maupun internasional melalui CIP. Membuktikan kualitas peningkatan atau inovasi di PHE dapat bersaing secara kompetitif di tingkat nasional maupun internasional.</p>
                    <p>PHE juga berkomitmen untuk melindungi perbaikan/inovasi dengan mendaftarkan karya-karya tersebut sebagai kekayaan intelektual Perusahaan. Pada tahun 2022, PHE berhasil mendapatkan hak paten atas beberapa inovasinya. Kedepannya, PHE akan fokus pada proses komersialisasi inovasi yang diharapkan dapat mendorong munculnya lini-lini bisnis baru guna mendukung keberlanjutan Perusahaan di masa mendatang.</p>
                </div>
            </div>
                <div class="sec-title text-left mb-14">
                    <h2 class="title title2 primary-color3 mb-14">
                    Daftar Inovasi
                    </h2>
                </div>
                <div class="row">
                    <div class="bg-white rounded-full shadow-2xl">
                        <div class="btn-part text-left">
                            <br />
                        <h4 class="text-base mb-0">File Excel Daftar Inovasi</h4>
                            <br />
                            <a class="button-1" href="https://phe.pertamina.com/assets/files/bod-charter.pdf" target="_blank">
                                Unduh Dokumen
                            </a>
                        </div>
                        <div>
                            <br />
                        </div>
                    </div>

                <div class="bg-white rounded-full shadow-2xl mt-10">
                    <div class="btn-part text-left">
                        <br />
                        <h4 class="text-base mb-0">File Excel Daftar Inovasi</h4>
                        <br />
                        <a class="button-1" href="https://phe.pertamina.com/assets/files/bod-charter.pdf" target="_blank">
                                Unduh Dokumen
                            </a>
                    </div>
                    <div>
                        <br />
                    </div>
                </div>
            </div>
                </div>
        </div>
    </div>
    <div>
</div>
@code {

}
