@page "/profil-perusahaan/anggaran"

<div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-55@2x.png)">
    <div class="container width-blog">
         <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Anggaran Dasar
            </h1>
        </div>
    </div>
</div>
<div class="rs-about style2 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container width-blog">
        <div class="row">
            <div class="col-lg-6 pr-33 md-pr-15 md-mb-50">
                <div class="images-part">
                    <img class="h-auto lazy" src="assets/images/visimis.png" style="background-image: url(../../assets/images/visimis.png)" alt="Images">
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="sec-title">
                    <h2 class="title pb-22">Dasar Hukum Pendirian dan Perubahan Terakhir</h2>
                    <p style="text-align:justify;">Berdasarkan hukum negara Republik Indonesia dan Anggaran Dasar yang dimuat dalam Berita Negara Republik Indonesia No. 62 tanggal 3 Agustus 1990 Tambahan No. 2749, yang telah diubah seluruhnya sesuai Undang-Undang Negara Republik Indonesia No. 40 tahun 2007 yang dimuat dalam Akta No. 5 tanggal 4 Agustus 2008 yang dibuat di hadapan Marianne Vincentia Hamdani, S.H., Notaris di Jakarta. Perubahan tersebut telah mendapat persetujuan dari Menteri Hukum dan Hak Asasi Manusia Republik Indonesia dalam Surat Keputusan No. AHU-69995. AH.01.02. Tahun 2008 tanggal 26 September 2008.</p>
                    
                    <p style="text-align:justify;">Anggaran dasar telah mengalami beberapa kali perubahan sebagaimana dimuat dalam Akta No. 4 tanggal 5 November 2012 dan telah mendapat persetujuan dari Menteri Hukum dan Hak Asasi Manusia Republik Indonesia dalam Surat Keputusan No. AHU-61643.AH.01.02.Tahun 2012 tanggal 3 Desember 2012, Akta No. 14 tanggal 10 Juli 2013 dan pemberitahuan telah diterima oleh Kementerian Hukum dan Hak Asasi Manusia Republik Indonesia dalam surat No. AHU-AH.01.10-34801 tanggal 23 Agustus 2013, Akta No. 39 tanggal 21 April 2016 dan telah mendapat persetujuan dari Kementerian Hukum dan Hak Asasi Manusia Republik Indonesia dalam surat Keputusan No. AHU-0009155. AH.01.02. Tahun 2016 tanggal 15 Mei 2016, Akta No. 46 tanggal 30 April 2018 dan pemberitahuan perubahannya telah diterima oleh Kementerian Hukum dan Hak Asasi Manusia Republik Indonesia dalam surat No. AHUAH.01.03-0213479 Tanggal 7 Juni 2018 serta perubahan Anggaran Dasar terakhir tercantum pada Akta No. 18 Tanggal 31 Januari 2020 yang telah mendapat persetujuan dari Menteri Hukum dan Hak Asasi Manusia Republik Indonesia dalam surat Keputusan No. AHU-0010803. AH.01.02 Tahun 2020 tanggal 7 Februari 2020.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
