@page "/profil-perusahaan/pemegang-saham"

<div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-55@2x.png)">
    <div class="container width-blog">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Struktur Pemegang Saham
            </h1>
        </div>
    </div>
</div>

<div id="rs-team" class="rs-blog style1 pb-40 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container width-blog">
        <div class="sec-title mb-20">
            <h2 class="title">
                Informasi Pemegang Saham dan Persentase Kepemilikan Saham
            </h2>
        </div>
        <div class="row mb-8">
            <div class="col-12">
                <p style="text-align:justify;">Pemegang saham utama/pengendali PHE adalah PT Pertamina (Persero) merupakan badan usaha milik negara (BUMN), dengan kepemilikan langsung sebesar 99,9968%, dan kepemilikan tidak langsung melalui PT Pertamina Pedeve Indonesia sebesar 0,0032%. Dengan demikian PT Pertamina (Persero) merupakan entitas induk sekaligus entitas pemilik akhir Perseroan. </p>

                <p style="text-align:justify;">Sesuai dengan Akta Notaris Marianne Vincentia Hamdani, SH No. 8 Tanggal 1 September 2021 Tentang Implementasi Pembentukan (Legal End-State) PHE Subholding Upstream terdapat perubahan komposisi pemegang saham. PHE tetap berbentuk Perseroan Terbatas dan bukan perusahaan terbuka, dengan demikian Laporan ini tidak dapat mengungkapkan informasi terkait rincian nama pemegang saham yang meliputi 20 pemegang saham terbesar dan persentase kepemilikannya; rincian pemegang saham dan persentase kepemilikannya meliputi nama pemegang saham yang memiliki 5% atau lebih saham; kelompok pemegang saham masyarakat dengan kepemilikan saham masing-masing kurang dari 5%; dan nama Direktur dan Komisaris serta persentase kepemilikan sahamnya secara langsung dan tidak langsung.</p>

                <h3>Struktur Pemegang Saham Utama dan Pengendali Perseroan</h3>

                <p class="text-center"><img class="h-auto lazy" src="assets/images/foto/image-9.png" alt="Struktur Pemegang Saham Subholding Upstream"></p>
            </div>
        </div>
    </div>
</div>
@code {

}
