@page "/profil-perusahaan/struktur-perusahaan"

<div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-55@2x.png)">
    <div class="container width-blog">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Struktur Organisasi Subholding Upstream
            </h1>
        </div>
    </div>
</div>

<div class="rs-blog style1 shape-bg pt-20 pb-40">
    <div class="container width-blog">
        <div class="sec-title text-left mb-14">
            <h2 class="a-title-blue pab-22">
                Struktur Organisasi Subholding Upstream
            </h2>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <p style="text-align:justify;">PT Pertamina menjalankan bidang penyelenggaraan usaha energi yang terintegrasi mulai dari hulu hingga hilir. Dalam kapasitasnya sebagai holding company di bidang energi sesuai Keputusan Menteri BUMN tanggal 12 Juni 2020, maka secara umum fokus bisnis PT Pertamina adalah menjalankan kegiatan pengelolaan portofolio dan sinergi bisnis di seluruh PT Pertamina Grup, mempercepat pengembangan bisnis baru, serta menjalankan program-program nasional.</p>

                <p style="text-align:justify;">
                    Sementara itu, sejumlah kegiatan yang sebelumnya merupakan kegiatan-kegiatan bisnis utama perusahaan akan dijalankan oleh subholding yang telah terbentuk. Subholding ini akan menjalankan peran, antara lain mendorong terwujudnya operational excellence melalui pengembangan skala dan sinergi masing-masing bisnis, mempercepat pengembangan bisnis dan kapabilitas bisnis existing serta meningkatkan kemampuan dan fleksibilitas dalam kemitraan dan pendanaan yang lebih menguntungkan perusahaan. Berikut pemetaan peran subholding dari PT Pertamina Grup:
                </p>

                <img class="h-auto lazy" width="100%" src="assets/images/foto/company-structure-id-1.png" alt="phe struktur organisasi">

                <div class ="mt-4">
                <p style="text-align:justify;">
                Melalui pembentukan struktur baru PT Pertamina ini, PT Pertamina diharapkan akan mampu bergerak lebih lincah, fokus dan lebih cepat dalam mengembangkan kapabilitas bisnis yang setara dengan kualitas kelas dunia guna mengakselerasi beragam inovasi di luar rantai bisnis konvensional PT Pertamina, antara lain dalam bidang energi baru dan terbarukan, bahan bakar nabati serta teknologi digital, sehingga PT Pertamina mampu meraih pertumbuhan skala bisnis yang lebih besar sebagai fundamental menuju perusahaan global energi yang terdepan.
                </p>
                </div>
            </div>
        </div>

        <div class="sec-title text-left mb-14">
            <h2 class="a-title-blue pab-22">
                Unit Operasi PT Kilang Pertamina Internasional
            </h2>
        </div>
        <div class="row">
            <div class="col-12">
                <p style="text-align:justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="mt-60 mb-5">
                <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-5 mb-11">
                    <div class="bg-white rounded-full shadow-2xl text-center p-4">
                            <h3 class="font-bold text-xs mb-1">Refinery II</h3>
                            <h3 class="primary-color2 uppercase font-bold text-xl mb-1">Dumai</h3>
                            <hr />
                            <div class="text-left text-xs">
                                <p>
                                    <b><u>Head Office</u></b>
                                    <br />
                                    Jl. Raya Kilang Putri Tujuh Dumai, Kode Pos 28815
                                </p>
                                <p>
                                    <b><u>Telephone</u></b>
                                    <br />
                                    (0765) 31244 (Hunting)
                                </p>
                            </div>
                    </div>
                    <div class="bg-white rounded-full shadow-2xl text-center p-4">
                            <h3 class="font-bold text-xs mb-1">Refinery III</h3>
                            <h3 class="primary-color2 uppercase font-bold text-xl mb-1">PLAJU</h3>
                            <hr />
                            <div class="text-left text-xs">
                                <p>
                                    <b><u>Head Office</u></b>
                                    <br />
                                    Jl. Beringin I PO BOX 1 Plaju, Sumatera Selatan, 30268
                                </p>
                                    <b><u>Telephone</u></b>
                                    <br />
                                    (0711)596633
                                <p>
                                    <b><u>Fax</u></b>
                                    <br />
                                    (0711)542230
                                </p>
                                <p>
                                    <b><u>E-mail</u></b>
                                    <br />
                                    cs.ru3@pertamina.com
                                </p>
                            </div>
                    </div>
                    <div class="bg-white rounded-full shadow-2xl text-center p-4">
                            <h3 class="font-bold text-xs mb-1">Refinery IV</h3>
                            <h3 class="primary-color2 uppercase font-bold text-xl mb-1">CILACAP</h3>
                            <hr />
                            <div class="text-left text-xs">
                                <p>
                                    <b><u>Head Office</u></b>
                                    <br />
                                    Jl. Letjen Haryono MT. 77 Lomanis, Cilacap Jawa Tengah 53221
                                </p>
                                <p>
                                    <b><u>Telephone</u></b>
                                    <br />
                                    (0282) 531051, 7362001 (Hunting)
                                </p>
                            </div>
                     </div>
                <div class="sec-title4 text-center mb-16">
                    <h3 class="title primary-color md:text-5xl"></h3>
                </div>
                    </div>
                <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-5 mb-25">
                    <div class="bg-white rounded-full shadow-2xl text-center p-4">
                            <h3 class="font-bold text-xs mb-1">Refinery V</h3>
                                <h3 class="primary-color2 uppercase font-bold text-xl mb-1">BALIKPAPAN</h3>
                            <hr />
                                <div class="text-left text-xs">
                                    <p>
                                        <b><u>Head Office</u></b>
                                        <br />
                                        Jl. Yos Sudarso No. 1 Balikpapan 76111
                                    </p>
                                    <p>
                                        <b><u>Telephone</u></b>
                                        <br />
                                        (0542) 733011 (hunting),
                                    </p>

                                    <p>
                                        <b><u>Fax</u></b>
                                        <br />
                                        732716 - 514148
                                    </p>

                                    <p>
                                        <b><u>Telex</u></b>
                                        <br />
                                        73160 - 737161 - 37132
                                    </p>

                                    <p>
                                        <b><u>E-mail</u></b>
                                        <br />
                                        pippru5@pertamina.com
                                    </p>
                                </div>
                    </div>
                    <div class="bg-white rounded-full shadow-2xl text-center p-4">
                            <h3 class="font-bold text-xs mb-1">Refinery VI</h3>
                                <h3 class="primary-color2 uppercase font-bold text-xl mb-1">BALONGAN</h3>
                            <hr />
                                <div class="text-left text-xs">
                                <p>
                                    <b><u>Head Office</u></b>
                                    <br />
                                    Jl. Raya Balongan KM 9 Indramayu, Jawa Barat, Indonesia
                                </p>
                                <p>
                                    <b><u>Telephone</u></b>
                                    <br />
                                    (0234) 5254500
                                </p>
                                <p>
                                    <b><u>Fax</u></b>
                                    <br />
                                    6234 428699
                                </p>
                            </div>
                    </div>
                    <div class="bg-white rounded-full shadow-2xl text-center p-4">
                            <h3 class="font-bold text-xs mb-1">Refinery VII</h3>
                                <h3 class="primary-color2 uppercase font-bold text-xl mb-1">KASIM</h3>
                            <hr />
                                <div class="text-left text-xs">
                                    <p>
                                        <b><u>Head Office</u></b>
                                        <br />
                                        Jl. Jend A.Yani, Sorong Irian Jaya
                                    </p>
                                    <p>
                                        <b><u>Telephone</u></b>
                                        <br />
                                        (0951) 613666, 618422
                                    </p>
                                </div>
                            </div>
                    </div>
                    </div>

        <div class="mt-33 mb-5">
        <div class="sec-title text-left mb-14">
            <h2 class="a-title-blue pab-22">
                Afiliasi PT Kilang Pertamina Internasional
            </h2>
        </div>
        <div class="row">
            <div class="col-12">
                <p style="text-align:justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
                    <div class="mt-60 mb-5">
                    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-5 mb-11">
                        <div class="bg-white rounded-full shadow-2xl text-center p-4">
                                <h3 class="primary-color2 font-bold text-xl mb-1">KPB</h3>
                                <h3 class="font-bold text-xs mb-1">Kilang Pertamina Balikpapan</h3>
                            <hr />
                            <div class="text-left text-xs">
                                <p>
                                        Patra Jasa Office Tower Lantai 2
                                        Jalan Jendral Gatot Subroto Kavling 32-34
                                        Setiabudi, Kuningan, Jakarta Selatan, Indonesia, Kode Pos 12950
                                </p>
                            </div>
                        </div>
                        <div class="bg-white rounded-full shadow-2xl text-center p-4">
                                <h3 class="primary-color2 font-bold text-xl mb-1">PRPP</h3>
                                <h3 class="font-bold text-xs mb-1">Pertamina Rosneft Pengolahan & Petrokimia</h3>
                            <hr />
                            <div class="text-left text-xs">
                                <p>
                                    <b><u>Head Office</u></b>
                                    <br />
                                        Patra Jasa Office Tower Lt 1Jl. Gatot Subroto No.Kav 32-34, Kuningan, SetiabudiJakarta Selatan - DKI Jakarta 12950
                                </p>
                                <p>
                                    <b><u>E-mail</u></b>
                                    <br />
                                        pertamina.rosneft@pertamina.com
                                </p>
                            </div>
                        </div>
                        <div class="bg-white rounded-full shadow-2xl text-center p-4">
                                <h3 class="primary-color2 font-bold text-xl mb-1">TPI Group</h3>
                                <h3 class="font-bold text-xs mb-1">Tuban Petrochemical Industries Group</h3>
                            <hr />
                            <div class="text-left text-xs">
                                <p>
                                        Building II, Mid Plaza, Jl. Jenderal Sudirman No.11, RT.10/RW.11, Karet Tengsin, Kecamatan Tanah Abang, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10220
                                </p>
                            </div>
                        </div>
                        <div class="sec-title4 text-center mb-16">
                            <h3 class="title primary-color md:text-5xl"></h3>
                        </div>
                    </div>
              </div>
        </div>
    </div>
</div>
</div>
</div>


@code {

}
