@page "/profil-perusahaan/struktur-organisasi"

<div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-55@2x.png)">
    <div class="container width-blog">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Struktur Organisasi KPI
            </h1>
        </div>
    </div>
</div>

<div class="rs-blog style1 shape-bg pt-20 pb-40">
    <div class="container width-blog">
        <div class="sec-title text-left mb-14">
            <h2 class="a-title-blue pab-22">
                Struktur Organisasi
            </h2>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <p style="text-align:justify;">PT Pertamina menjalankan bidang penyelenggaraan usaha energi yang terintegrasi mulai dari hulu hingga hilir. Dalam kapasitasnya sebagai holding company di bidang energi sesuai Keputusan Menteri BUMN tanggal 12 Juni 2020, maka secara umum fokus bisnis PT Pertamina adalah menjalankan kegiatan pengelolaan portofolio dan sinergi bisnis di seluruh PT Pertamina Grup, mempercepat pengembangan bisnis baru, serta menjalankan program-program nasional.</p>

                <p style="text-align:justify;">
                    Sementara itu, sejumlah kegiatan yang sebelumnya merupakan kegiatan-kegiatan bisnis utama perusahaan akan dijalankan oleh subholding yang telah terbentuk. Subholding ini akan menjalankan peran, antara lain mendorong terwujudnya operational excellence melalui pengembangan skala dan sinergi masing-masing bisnis, mempercepat pengembangan bisnis dan kapabilitas bisnis existing serta meningkatkan kemampuan dan fleksibilitas dalam kemitraan dan pendanaan yang lebih menguntungkan perusahaan. Berikut pemetaan peran subholding dari PT Pertamina Grup:
                </p>

                <img class="h-auto lazy" width="100%" src="assets/images/foto/image-8.png" alt="phe struktur organisasi">
            </div>
        </div>
        </div>
        </div>


@code {

}
