@page "/profiles"

<div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-55@2x.png)">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Profil dan Riwayat Singkat
            </h1>
        </div>
    </div>
</div>
<div class="rs-about style2 pt-100 pb-100 md-pt-70 md-pb-70 mx-8">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pr-33 md-pr-15 md-mb-50">
                <div class="images-part">
                    <img class="h-auto lazy" src="assets/images/visimis.png" style="background-image: url(../../assets/images/visimis.png)" alt="Images">
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="sec-title">
                    <h2 class="a-title-blue pb-22">
                        Profil PT Kilang Pertamina Internasional
                    </h2>
                    <p style="text-align: justify;">Pada 13 November 2017 PT Kilang Pertamina Internasional (PT KPI) didirikan sebagai strategic holding company PT Pertamina (Persero) untuk menjalankan, mengendalikan, dan mengelola kegiatan investasi dan usaha terkait megaproyek pengolahan dan petrokimia.</p>

                    <p style="text-align: justify;">Pada 28 November 2017 didirikan PT Pertamina Rosneft Pengolahan dan Petrokimia (PT PRPP) sebagai Anak Perusahaan PT KPI untuk mengelola pembangunan proyek New Grass Root Refinery (NGRR) Tuban yang merupakan proyek kerja sama antara PT Pertamina (Persero) dan Rosneft Oil Company.</p>

                    <p style="text-align: justify;">PT KPI mendirikan kembali satu anak perusahaan pada 7 Mei 2019, yaitu PT Kilang Pertamina Balikpapan (PT KPB), yang bertujuan untuk mengelola pembangunan Proyek Refinery Development Master Plan (RDMP) RU V Balikpapan dan dipersiapkan untuk menjadi perusahaan patungan bekerja sama dengan mitra.</p>

                    <p style="text-align: justify;">Pada bulan Juni 2020, PT KPI semakin berkembang perannya selain mengelola proyek-proyek infrastruktur juga pengembangan bisnis pengolahan dan petrokimia serta mengelola kilang-kilang pengolahan & petrokimia yang sebelumnya dikelola oleh PT Pertamina (Persero) yaitu Refinery Unit II Dumai, Refinery Unit III Plaju, Refinery Unit IV Cilacap, Refinery Unit V Balikpapan, Refinery Unit VI Balongan dan Refinery Unit VII Sorong. Perubahan peran tersebut ditandai dengan pengukuhan PT Kilang Pertamina Internasional sebagai Subholding Refining & Petrochemical sebagai bagian dari pembentukan Holding Migas. Perubahan peran ini, diikuti dengan pengangkatan Dewan Komisaris dan Direksi PT KPI yang baru.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rs-services" class="rs-services chooseus-style about-style pt-100 pb-100 md-pt-70 md-pb-70 lazy" style="background-image: url('../../assets/images/Rectangle 52.png')">
    <div class="container">
        <div class="mx-8">
            <div class="row">
                <div class="col-lg-6">
                    <div class="sec-title">
                        <h3 class="a-title-white-r">Visi</h3>
                        <p style="text-align: right; color: #ffffff">Sebagai Perusahaan Kilang Minyak dan Petrokimia Berkelas Dunia</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sec-title">
                        <h3 class="a-title-white">Misi</h3>
                        <p style="color: #ffffff">Menjalankan bisnis Kilang Minyak dan Petrokimia secara Profesional dan berstandar Internasional dengan prinsip keekonomian yang kuat dan berwawasan lingkungan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rs-blog style1 shape-bg pt-20 pb-40 mx-8">
    <div class="container">
        <div class="sec-title text-center mb-14">
            <h2 class="a-title-blue-nb mb-14">
                Tata Nilai
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3 style="text-align: right">Amanah</h3>
            </div>
            <div class="col-lg-8">
                <p>
                    •  Memenuhi janji dan komitmen<br/>
                    •  Bertanggung jawab atas tugas, leputusan dan tindakan yang dilakukan<br />
                    •  Berpegang teguh kepada nilai moral dan etika<br />
                    •  Memenuhi janji dan komitmen<br />
                    •  Bertanggung jawab atas tugas, leputusan dan tindakan yang dilakukan<br />
                    •  Berpegang teguh kepada nilai moral dan etika
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3 style="text-align: right">Kompeten</h3>
            </div>
            <div class="col-lg-8">
                <p>
                    •  Meningkatkan kompetensi diri untuk menjawab tantangan yang selalu berubah<br />
                    •  Membantu orang lain belajar<br />
                    •  Menyelesaikan tugas dengan kualitas terbaik<br />
                    •  Meningkatkan kompetensi diri untuk menjawab tantangan yang selalu berubah<br />
                    •  Membantu orang lain belajar<br />
                    •  Menyelesaikan tugas dengan kualitas terbaik
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3 style="text-align: right">Harmonis</h3>
            </div>
            <div class="col-lg-8">
                <p>
                    •  Menghargai setiap orang apapun latar belakangnya<br />
                    •  Suka menolong orang lain<br />
                    •  Membangun lingkungan kerja yang kondusif<br />
                    •  Menghargai setiap orang apapun latar belakangnya<br />
                    •  Suka menolong orang lain<br />
                    •  Membangun lingkungan kerja yang kondusif
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3 style="text-align: right">Loyal</h3>
            </div>
            <div class="col-lg-8">
                <p>
                    •  Berdedikasi dan Mengutamakan Kepentingan Bangsa dan Negara<br />
                    •  Menjaga nama baik sesama pekerja, Pimpinan, BUMN, dan Negara<br />
                    •  Patuh kepada pimpinan sepanjang kita tidak bertentangan dengan hukum dan etika<br />
                    •  Rela Berkorban untuk tujuan yang lebih besar<br />
                    •  Berkontribusi lebih melampaui harapan untuk membangun dan meningkatkan kapasitas nasional<br />
                    •  Pantang menyerah menghadapi tantangan dan harapan
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3 style="text-align: right">Adaptif</h3>
            </div>
            <div class="col-lg-8">
                <p>
                    •  Cepat menyesuaikan diri untuk menjadi lebih baik<br />
                    •  Terus-menerus melakukan perbaikan mengikuti perkembangan teknologi<br />
                    •  Bertindak Proaktif<br />
                    •  Cepat menyesuaikan diri untuk menjadi lebih baik<br />
                    •  Terus-menerus melakukan perbaikan mengikuti perkembangan teknologi<br />
                    •  Bertindak Proaktif
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3 style="text-align: right">Kolaboratif</h3>
            </div>
            <div class="col-lg-8">
                <p>
                    •  Memberi kesempatan kepada berbagai pihak untuk berkontribusi<br />
                    •  Terbuka untuk bekerja sama untuk menghasilkan nilai tambah<br />
                    •  Menggerakkan pemanfaatan berbagai sumber daya untuk tujuan bersama<br />
                    •  Memberi kesempatan kepada berbagai pihak untuk berkontribusi<br />
                    •  Terbuka untuk bekerja sama untuk menghasilkan nilai tambah<br />
                    •  Menggerakkan pemanfaatan berbagai sumber daya untuk tujuan bersama
                </p>
            </div>
        </div>
    </div>
</div>

@code {

}
