@page "/hubungan-investor/ikhtisar-keuangan"

<div>
    <div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-25.png)">
        <div class="container width-blog">
            <div class="breadcrumbs-inner">
                <h1 class="page-title">
                    Ikhtisar Keuangan
                </h1>
            </div>
        </div>
    </div>

    <div id="rs-team" class="rs-blog style1 pb-40 pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container width-blog">
            <div class="sec-title mb-8">
                <h2 class="title">
                    Tinjauan Kinerja Keuangan 
                </h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <p style="text-align:justify;">Tinjauan kinerja keuangan dalam Laporan ini, disusun berdasarkan Laporan Keuangan PHE sebagai Subholding Upstream, yang berakhir pada tanggal 31 Desember 2021, dan telah diaudit Kantor Akuntan Publik Purwantono, Sungkoro & Surja, serta ditandatangani oleh Irwan Haswir pada tanggal 21 Maret 2021, dengan opini wajar, dalam semua hal yang material.</p>

                    <p style="text-align:justify;">Uraian mengenai kinerja keuangan PHE dalam Laporan ini disusun berdasarkan Laporan Keuangan, yang disajikan sesuai Pernyataan Standar Akuntansi Keuangan (PSAK) yang berlaku umum di Indonesia. Laporan Keuangan meliputi tiga tahun buku terakhir, yakni tahun buku yang berakhir pada 31 Desember 2021. Sebagai pembanding Laporan Keuangan tahun buku yang berakhir pada 31 Desember 2020 dan 1 Januari 2020 yang disajikan kembali atas perubahan struktur tata kelola dari PHE menjadi PHE Subholding Upstream sesuai dengan PSAK 38 (Revisi 2012). Bahasan kinerja keuangan disampaikan dengan memperhatikan penjelasan pada catatan Laporan Keuangan, sebagai bagian tidak terpisahkan dari Laporan Tahunan ini.</p>

                    <p class="text-center"><img class="h-auto lazy" src="https://phe.pertamina.com/assets/images/placeholder.jpeg?format=webp" data-src="https://phe.pertamina.com/assets/images/about/finance-overview.jpg?format=webp" srcset="https://phe.pertamina.com/assets/images/about/finance-overview.jpg 1x, https://phe.pertamina.com/assets/images/about/finance-overview.jpg 2x" alt="bagan ikhtisar keuangan"></p>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
