@page "/hubungan-investor/rups"


<div>
    <div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-25.png)">
        <div class="container width-blog">
            <div class="breadcrumbs-inner">
                <h1 class="page-title">
                    RUPS
                </h1>
            </div>
        </div>
    </div>

    <div id="rs-team" class="rs-blog style1 pb-20 pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container width-blog">
            <div class="sec-title mb-8">
                <h2 class="title">
                    RAPAT UMUM PEMEGANG SAHAM (RUPS)
                </h2>
            
                <p class="text-lg">
                    Rapat Umum Pemegang Saham, yang selanjutnya disebut RUPS, adalah organ Perseroan yang memegang kekuasaan tertinggi yang memenuhi syarat kuorum dan diselenggarakan oleh Direksi atas permintaan Komisaris, Direksi, atau Pemegang Saham yang mewakili 1/10 bagian dari jumlah seluruh saham dalam rangka mengambil keputusan penting yang berkaitan dengan modal yang ditanam dalam perusahaan dan/atau untuk pengambilan keputusan atas hal-hal yang kewenangannya tidak diserahkan kepada Direksi atau Komisaris.
                </p>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Penyelenggaraan RUPS merupakan kewajiban perusahaan sebagai wadah pemegang saham untuk mengambil keputusan penting, dengan memperhatikan ketentuan anggaran dasar dan peraturan perundang-undangan dimana keputusan yang diambil dalam RUPS tersebut harus didasarkan pada kepentingan usaha Perusahaan.
                    </p>

                    <p>RUPS Pertamina terdiri atas:</p>

                    <p><strong>Rapat Umum Pemegang Saham Tahunan (RUPST)</strong> untuk menyetujui Rencana Kerja dan Anggaran Perusahaan diadakan paling lambat 30 (tiga puluh) hari setelah tahun anggaran berjalan (tahun anggaran Rencana Kerja dan Anggaran Perusahaan yang bersangkutan). Dalam rapat tersebut, Direksi menyampaikan rancangan Rencana Kerja dan Anggaran Perusahaan termasuk proyeksi Laporan Keuangan serta hal-hal lain yang perlu persetujuan RUPS untuk kepentingan Perseroan yang belum dicantumkan dalam Rancangan Rencana Kerja dan Anggaran Perusahaan.</p>

                    <p>Rapat Umum Pemegang Saham Tahunan (RUPST) untuk menyetujui Laporan Tahunan diadakan paling lambat dalam bulan Juni setelah penutupan tahun buku yang bersangkutan. Dalam rapat tersebut, Direksi menyampaikan Laporan Tahunan Perseroan, Usulan penggunaan laba bersih Perseroan, serta hal-hal lain yang perlu persetujuan RUPS untuk kepentingan Perseroan.</p>

                    <p><strong>Rapat Umum Pemegang Saham Luar Biasa (RUPSLB)</strong> yaitu RUPS yang diadakan sewaktu-waktu berdasarkan kebutuhan perusahaan.</p>

                        <div class="row">
                        <div class="bg-white rounded-full shadow-2xl p-4">
                            <div class="row">
                                <div class="col-lg-6 order-md-1 mt-3">
                                    <div class="desc left-line-v text-base leading-loose">
                                        <div class="draw-line start-draw-1"></div>
                                            <div class="btn-part text-left">
                                                <h4 class="d-title-black mb-3">RUPS Tahunan dan RUPS Luar Biasa 2021</h4>
                                                <a class="button-1" href="https://phe.pertamina.com/assets/files/bod-charter.pdf" target="_blank">
                                                    Unduh Dokumen
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 md-pt-50">
                                        <div class="sec-title4 mb-30">
                                            <div class="desc -line-v text-base leading-loose">
                                                <div class="draw-line start-draw-1"></div>
                                                <div class="d-title-blue mt-8"><b>2021</b></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="bg-white rounded-full shadow-2xl p-4 mt-5">
                            <div class="row">
                                <div class="col-lg-6 order-md-1 mt-3">
                                    <div class="desc left-line-v text-base leading-loose">
                                        <div class="draw-line start-draw-1"></div>
                                        <div class="btn-part text-left">
                                            <h4 class="d-title-black mb-3">RUPS Tahunan dan RUPS Luar Biasa 2022</h4>
                                            <a class="button-1" href="https://phe.pertamina.com/assets/files/bod-charter.pdf" target="_blank">
                                                Unduh Dokumen
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 md-pt-50">
                                    <div class="sec-title4 mb-30">
                                        <div class="desc -line-v text-base leading-loose">
                                            <div class="draw-line start-draw-1"></div>
                                            <div class="d-title-blue mt-8"><b>2022</b></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white rounded-full shadow-2xl p-4 mt-5">
                            <div class="row">
                                <div class="col-lg-6 order-md-1 mt-3">
                                    <div class="desc left-line-v text-base leading-loose">
                                        <div class="draw-line start-draw-1"></div>
                                        <div class="btn-part text-left">
                                            <h4 class="d-title-black mb-3">RUPS Tahunan dan RUPS Luar Biasa 2023</h4>
                                            <a class="button-1" href="https://phe.pertamina.com/assets/files/bod-charter.pdf" target="_blank">
                                                Unduh Dokumen
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 md-pt-50">
                                    <div class="sec-title4 mb-30">
                                        <div class="desc -line-v text-base leading-loose">
                                            <div class="draw-line start-draw-1"></div>
                                            <div class="d-title-blue mt-8"><b>2023</b></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
