@page "/keberlanjutan/fokus"


<div>
    <div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/Rectangle-551.png)">
        <div class="container width-blog">
            <div class="breadcrumbs-inner">
                <h1 class="page-title">
                    Fokus Keberlanjutan
                </h1>
            </div>
        </div>
    </div>

    <!-- Strategi Sustainability Section Start -->
    <div class="rs-blog style1 shape-bg pb-40">
        <div class="container width-blog">
            <div class="sec-title text-left mt-40">
                <h2 class="title title2 primary-color3 mb-14">
                    Fokus Keberlanjutan
                </h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>PHE telah melakukan pemetaan fokus keberlanjutan yang menjadi dasar bagi perusahaan untuk melaksanakan operasionalnya. Berikut penjelasan pemetaan fokus keberlanjutan PHE dengan pendekatan prioritas TPB/SDG:</p>

                    <p class="text-center"><img class="h-auto lazy" src="https://phe.pertamina.com/assets/images/placeholder.jpeg?format=webp" data-src="https://phe.pertamina.com/assets/images/sr/fokus-esg-1.png?format=webp" srcset="https://phe.pertamina.com/assets/images/sr/fokus-esg-1.png?format=webp 1x, https://phe.pertamina.com/assets/images/sr/fokus-esg-1.png?format=webp 2x" alt="phe komitmet keberlanjutan"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="rs-about style2 pt-100 md-pt-70 md-pb-70">
        <div class="container width-blog">
            <div class="row">
                <div class="col-lg-6 pr-33 md-pr-15 md-mb-50">
                    <div class="images-part">
                        <img class="h-auto lazy" src="assets/images/foto/Rectangle25.png">
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="sec-title">
                        <h2 class="title pb-22">
                            Tentang Program Keberlanjutan
                        </h2>
                        <p>
                            Sejalan dengan tata nilai dan prinsip etika PHE Subholding Upstream dalam menjaga keberlanjutan bisnis perusahaan, PHE Subholding Upstream menjadikan Kebijakan Keberlanjutan sebagai salah satu bentuk tanggung jawab inti Perusahaan.
                            Kebijakan ini mencakup inisiatif yang dilakukan PHE Subholding Upstream dalam mengintegrasikan strategi dan aktivitas perusahaan dengan lebih baik lagi terutama dalam konteks Environmental, Social and Governance (ESG) dan ekonomi yang berkelanjutan.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <div class="rs-about style5 relative pt-140 md-pt-80 pb-5">
        <div class="container width-blog">
            <div class="row">
                <div class="col-lg-6 order-md-1">
                    <div class="desc left text-base leading-loose">
                        <div class="draw-line start-draw"></div>
                        <div class="right-side ml-3">
                            <img class="h-auto" src="assets/images/rectangle-25@2x.png" alt="Profil">
                        </div>
                        <br /><br />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sec-title">
                        <h2 class="title pb-22">
                            Kebijakan Keberlanjutan
                        </h2>
                        <p style="text-align: justify;">PHE Subholding Upstream menjalankan kebijakan keberlanjutan dengan mengacu pada Kebijakan Keberlanjutan PT Pertamina (Persero) sebagai perusahaan holding. Kebijakan Keberlanjutan telah ditetapkan oleh Direktur Utama PT Pertamina (Persero) pada September 2021. Kebijakan Keberlanjutan merupakan panduan untuk mendorong kepatuhan kepada peraturan perundangan-undangan dan menciptakan nilai jangka panjang bagi para pemangku kepentingan melalui pengembangan praktik keberlanjutan di seluruh bisnis. Kebijakan keberlanjutan mengintegrasikan strategi dan aktivitas Perusahaan dengan lebih baik dalam konteks lingkungan, sosial, dan tata kelola (LST), terutama untuk berkontribusi terhadap Tujuan Pembangunan Berkelanjutan (TPB), serta mewujudkan Ambisi PERTAMINA.<br />Unduh lampiran untuk membaca Kebijakan Keberlanjutan secara lengkap.</p>
                    </div>
                </div>
            </div>
            @*<div class="pattern-img">
            <img class="left-pattern" src="https://phe.pertamina.com/assets/images/pattern/pattern1.png?format=webp" alt="">
            </div>*@
        </div>
    </div>
</div>
@code {

}
