@page "/keberlanjutan/inisiatif"


<div>
    <div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/Rectangle-551.png)">
        <div class="container width-blog">
            <div class="breadcrumbs-inner">
                <h1 class="page-title">
                    Inisiatif
                </h1>
            </div>
        </div>
    </div>

    <!-- Sustainability Section Start -->
    <div class="rs-blog style1 shape-bg pb-40">
        <div class="container width-blog">
            <div class="sec-title text-left mt-40">
                <h2 class="title title2 primary-color3 mb-14">
                    Keanggotaan pada Inisiatif Keberlanjutan
                </h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Berkomitmen terhadap Pembangunan Berkelanjutan, PHE sebagai Subholding Upstream Pertamina secara resmi telah terdaftar sebagai anggota dalam UN Global Compact (UNGC) sejak Juni 2022. UNGC yang dideklarasikan Perserikatan Bangsa-Bangsa (PBB) merupakan salah satu inisiatif keberlanjutan global dengan fokus pada 10 prinsip universal atau Ten Principles UNGC terkait human rights, labour, environment, dan anti corruption. Dengan keanggotaan pada UNGC terus menerapkan prinsip Environment, Social, and Governance (ESG) dalam setiap lini bisnisnya yang juga selaras dengan tujuan pembangunan berkelanjutan (Sustainable Development Goals/SDGs).</p>

                    <p>
                        Klik link berikut untuk terhubung pada keanggotaan PHE di dalam UNGC:<br />
                        <a href="https://www.unglobalcompact.org/what-is-gc/participants/152635" target="_blank">https://www.unglobalcompact.org/what-is-gc/participants/152635</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
@code {

}
