@page "/keberlanjutan/kebijakan"


<div>
    <div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/Rectangle-551.png)">
  <div class="container width-blog">
    <div class="breadcrumbs-inner">
      <h1 class="page-title">
        Keberlanjutan
      </h1>
    </div>
  </div>
</div>

<div class="rs-about style2 pt-100 md-pt-70 md-pb-70">
  <div class="container width-blog">
    <div class="row">
      <div class="col-lg-6 pr-33 md-pr-15 md-mb-50">
        <div class="images-part">
             <img class="h-auto lazy" src="assets/images/foto/Rectangle25.png">
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="sec-title">
          <h2 class="title pb-22">
              Tentang Program Keberlanjutan
          </h2>
            <p>
                Sejalan dengan tata nilai dan prinsip etika PHE Subholding Upstream dalam menjaga keberlanjutan bisnis perusahaan, PHE Subholding Upstream menjadikan Kebijakan Keberlanjutan sebagai salah satu bentuk tanggung jawab inti Perusahaan.
                Kebijakan ini mencakup inisiatif yang dilakukan PHE Subholding Upstream dalam mengintegrasikan strategi dan aktivitas perusahaan dengan lebih baik lagi terutama dalam konteks Environmental, Social and Governance (ESG) dan ekonomi yang berkelanjutan.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Section End -->

   <div class="rs-about style5 relative pt-140 md-pt-80 pb-5">
        <div class="container width-blog">
            <div class="row">
                <div class="col-lg-6 order-md-1">
                    <div class="desc left text-base leading-loose">
                        <div class="draw-line start-draw"></div>
                        <div class="right-side ml-3">
                            <img class="h-auto" src="assets/images/rectangle-25@2x.png" alt="Profil">
                        </div>
                        <br /><br />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sec-title">
                        <h2 class="title pb-22">
                            Kebijakan Keberlanjutan
                        </h2>
                        <p style="text-align: justify;">PHE Subholding Upstream menjalankan kebijakan keberlanjutan dengan mengacu pada Kebijakan Keberlanjutan PT Pertamina (Persero) sebagai perusahaan holding. Kebijakan Keberlanjutan telah ditetapkan oleh Direktur Utama PT Pertamina (Persero) pada September 2021. Kebijakan Keberlanjutan merupakan panduan untuk mendorong kepatuhan kepada peraturan perundangan-undangan dan menciptakan nilai jangka panjang bagi para pemangku kepentingan melalui pengembangan praktik keberlanjutan di seluruh bisnis. Kebijakan keberlanjutan mengintegrasikan strategi dan aktivitas Perusahaan dengan lebih baik dalam konteks lingkungan, sosial, dan tata kelola (LST), terutama untuk berkontribusi terhadap Tujuan Pembangunan Berkelanjutan (TPB), serta mewujudkan Ambisi PERTAMINA.<br />Unduh lampiran untuk membaca Kebijakan Keberlanjutan secara lengkap.</p>
                        <ol>
                            <li><a href="https://phe.pertamina.com/uploads/2022/12/4b5452b0-d859-4440-833e-325c54ab67ec.pdf" target="_blank">Kebijakan Keberlanjutan</a></li>
                            <li><a href="https://phe.pertamina.com/uploads/2022/12/14be28f0-c1d8-4b00-85fd-bbb6f63b0abd.pdf" target="_blank">Kebijakan HSSE</a></li>
                            <li><a href="https://phe.pertamina.com/uploads/2022/12/4968306d-4969-4fc3-a025-d1bfabc91a29.pdf" target="_blank">Kebijakan Untuk Menjamin Hak Asasi Manusia</a></li>
                            <li><a href="https://phe.pertamina.com/uploads/2022/12/1de402b6-1ddc-4ec5-b2de-01881804092d.pdf" target="_blank">Kebijakan Lingkungan Kerja yang Menghargai Keberagaman, Kesetaraan, dan Inklusi</a></li>
                            <li><a href="https://phe.pertamina.com/uploads/2022/12/af821e44-b8d7-41f6-ad2d-0290151dd191.pdf" target="_blank">Kebijakan Sosial untuk Pemasok dan Kontraktor</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            @*<div class="pattern-img">
            <img class="left-pattern" src="https://phe.pertamina.com/assets/images/pattern/pattern1.png?format=webp" alt="">
            </div>*@
        </div>
    </div>

    <div class="rs-about style2 pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container width-blog">
            <div class="sec-title text-left mb-14">
                <h2 class="title title2 primary-color3 mb-14">
                    Komitmen Kami
                </h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="col-lg-6 pr-33 md-pr-15 md-mb-50 container" style="text-align:center">
                        <div class="images-part">
                            <img class="h-auto lazy" src="assets/images/foto/image22.png" />
                        </div>
                    </div>
                    <br />
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
@code {

}
