@page "/keberlanjutan/komite"


<div>
    <div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/Rectangle-551.png)">
        <div class="container width-blog">
            <div class="breadcrumbs-inner">
                <h1 class="page-title">
                    Keberlanjutan
                </h1>
            </div>
        </div>
    </div>

    <div id="rs-team" class="rs-team style2">
        <div class="container width-blog">
            <div class="sec-title text-left mt-40">
                <h2 class="title title2 primary-color3 mb-14">
                    Komite Keberlanjutan
                </h2>
            </div>
            <div class="row mb-8">
                <div class="col-12 mb-30">
                    <p>PHE telah memiliki susunan Komite Keberlanjutan Subholding Upstream yang telah disahkan Direktur Utama PT Pertamina Hulu Energi. Komite Keberlanjutan terdiri dari Direktur di lingkungan Subholding Upstream dan pejabat setingkat Vice President yang bertanggung jawab kepada Direktur Utama, dan menjadi penanggung jawab dalam mengelola aspek keberlanjutan sesuai bidang masing-masing.</p>

                    <h3>Deskripsi Jabatan</h3>
                    <p>
                        <table>
                            <tr><td>Ketua Komite</td><td>: Direktur Utama</td></tr>
                            <tr><td rowspan="5">Anggota Komite</td><td>: Direktur Perencanaan Strategis dan Pengembangan Bisnis</td></tr>
                            <tr><td>: Direktur Pengembangan dan Produksi</td></tr>
                            <tr><td>: Direktur Eksplorasi</td></tr>
                            <tr><td>: Direktur SDM dan Penunjang Bisnis</td></tr>
                            <tr><td>: Direktur Keuangan</td></tr>
                        </table>
                    </p>
                    <h3>Penanggung Jawab Bidang:</h3>

                    <p>
                        <table class="table mb-14">
                            <thead>
                                <tr><th scope="col">No</th><th scope="col">Pejabat</th><th scope="col">Aspek Keberlanjutan</th></tr>
                            </thead>
                            <tbody>
                                <tr><th scope="row">1</th><td>Direktur Perencanaan Strategis dan Pengembangan Bisnis</td><td>Roadmap dan strategi jangka panjang</td></tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Direktur Pengembangan dan Produksi</td>
                                    <td>Dekarbonisasi</td>
                                </tr>
                                <tr><th scope="row">3</th><td>Direktur SDM dan Penunjang Bisnis</td><td>Keanekaragaman, Hak Asasi Manusia, Inklusivitas, Rekrutmen Karyawan, Retensi dan Pengembangan, Keamanan Cyber, Pengadaan Ramah Lingkungan, Standar Pemasok sosial</td></tr>
                                <tr><th scope="row">4</th><td>Direktur Keuangan</td><td>Pembiayaan Berkelanjutan</td></tr>
                                <tr><th scope="row">5</th><td>Corporate Secretary</td><td>Pelibatan dan Pengembangan Komunitas, Tata Kelola Perusahaan, Etika Perusahaan, Hubungan Pemangku Kepentingan, Strategi Komunikasi</td></tr>
                                <tr><th scope="row">6</th><td>VP HSSE</td><td>Iklim, Lingkungan, Emisi, Keanekaragaman Hayati, Kesehatan dan Keselamatan, Pencegahan Kecelakaan Besar, Perairan, Limbah Cair, Pengelolaan LImbah, Tanggap Darurat, Pengelolaan Sumur Lepas Pantai, Penutupan Lahan & Rehabilitasi</td></tr>
                                <tr><th scope="row">7</th><td>VP Upstream Innovation</td><td>Inovasi</td></tr>
                                <tr><th scope="row">8</th><td>Direktur Regional 1-5, PT PDSI, PT Elnusa Tbk, PT Badak NGL, Direktur Utama Anak Perusahaan, Cucu Perusahaan dan Afiliasi</td><td>Inisiatif, Pemimpin Eksekusi, Implementasi atas Ambisi</td></tr>
                            </tbody>
                        </table>
                    </p>
                    <div class="bg-white rounded-full shadow-2xl">
                        <div class="btn-part text-left-1">
                            <br />
                            <h4 class="text-xl mb-0">Surat Keputusan</h4>
                            <br />
                            <a class="button" href="https://phe.pertamina.com/assets/files/bod-charter.pdf" target="_blank">
                                Unduh Dokumen
                            </a>
                        </div>
                        <div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
