@page "/keberlanjutan/strategi"

<div>
    <div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/Rectangle-551.png)">
        <div class="container width-blog">
            <div class="breadcrumbs-inner">
                <h1 class="page-title">
                    Stategi
                </h1>
            </div>
        </div>
    </div>

    <div class="rs-blog style1 shape-bg pb-40">
        <div class="container width-blog">
            <div class="sec-title text-left mt-40">
                <h2 class="title title2 primary-color3 mb-14">
                    ESG Strategy
                </h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>PT Pertamina Hulu Energi (PHE) as Subholding Upstream Pertamina is committed to realizing sustainability in the Environmental, Social and Governance (ESG) aspects in carrying out best practices in its business activities. To support the implementation of this ESG, PHE has also prepared supporting tools in the form of policies related to Sustainability, HSSE, Human Rights, Respectful Workplace, and Social Policy for Suppliers & Contractors.</p>

                    <div class="mt-8 mb-10 py-4">
                        <a href="https://phe.pertamina.com/assets/files/esg-strategy.pdf" class="button">Download ESG Strategy</a>
                    </div>

                    <p>
                        <h3>ESG Rating: Comprehensive</h3>
                        Sustainalytics classifies a company as a part of its comprehensive universe or core universe primarily by its market capitalization as well as its inclusion in major global and regional indexes. Sustainalytics' Core Framework covers 20-30 management indicators, whereas its Comprehensive Framework covers over 70 management indicators.
                    </p>

                    <p class="text-center">
                        <img class="h-auto lazy" src="https://phe.pertamina.com/assets/images/placeholder.jpeg?format=webp" data-src="https://phe.pertamina.com/assets/images/sr/esg-rating.jpg?format=webp" srcset="https://phe.pertamina.com/assets/images/sr/esg-rating.jpg?format=webp 1x, https://phe.pertamina.com/assets/images/sr/esg-rating.jpg?format=webp 2x" alt="phe esg rating"><br />
                        <a href="https://www.sustainalytics.com/esg-rating/pt- pertamina-hulu-energi/2002758021" target="_blank" style="font-style: italic;">https://www.sustainalytics.com/esg-rating/pt- pertamina-hulu-energi/2002758021</a>
                    </p>
                    <div class="mt-8 mb-10 py-4 text-center">
                        <a href="https://www.sustainalytics.com/esg-rating/pt- pertamina-hulu-energi/2002758021" target="_blank" class="button">More Info</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
