@page "/tata-kelola/kebijakan-manajemen"

<div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-55@2x.png)">
    <div class="container width-blog">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Kebijakan Manajemen Risiko
            </h1>
        </div>
    </div>
</div>

<div class="rs-blog style1 shape-bg pt-20 pb-40">
    <div class="container width-blog">
        <div class="sec-title text-left mb-14">
            <h2 class="title title2 mb-14">
                Kebijakan Manajemen Risiko
            </h2>
        </div>
        <div class="row">
            <div class="col-12">
            
                <p>Perseroan berkomitmen menerapkan prinsip-prinsip tata kelola perusahaan yang baik (Good Corporate Governance/ GCG) yang bertujuan untuk membangun sistem perusahaan yang kuat dan sehat. Tata kelola perusahaan yang baik menjadi salah satu acuan Perseroan dalam mengambil keputusan dan meningkatkan efektivitas kinerja.</p>

                <p>Pelaksanaan tata kelola perusahaan yang baik secara tepat dan efektif menjadi cermin bahwa proses bisnis dan tata kelola telah berlangsung secara sehat dan sesuai dengan ketentuan dan peraturan yang berlaku. Dengan pelaksanaan tata kelola perusahaan secara baik dan efektif, Perseoan berkeyakinan mampu membangun kesinambungan usaha dan memberikan nilai tambah bagi para pemegang saham dan pemangku kepentingan lainnya, serta menjaga kelangsungan lingkungan dan masyarakat sekitar. Oleh karena itu, Perseroan secara berkala meninjau dan menyesuaikan kebijakan tata kelola perusahaan yang baik agar dapat dilaksanakan dengan tepat di unit bisnis dan anak perusahaan.</p>

                <p>Perusahaan memperhatikan prinsip kehati-hatian (precautionary approach) dalam penerapan manajemen risiko dan memiliki beberapa kebijakan, yaitu:</p>
                <li>Penerapan Manajemen Risiko berbasis ISO 31000:2018, yang diintegrasikan ke dalam semua proses bisnis dan sesuai dengan Tata Kelola Perusahaan yang Baik (Good Corporate Governance) dengan tujuan untuk menciptakan dan melindungi nilai perusahaan;</li>
                <li>Mandat dan Komitmen dari Komite Manajemen Risiko Perusahaan;</li>
                <li>Penyusunan Risk Register aktivitas ongoing business dan investasi dilakukan oleh Risk Owner secara berkata dengan mempertimbangkan masukan PT Pertamina (Persero) atau Korporat. Risk Register yang disusun telah memasukkan biaya Risk Treatment ke dalam RKAP;</li>
                <li>Setiap pemimpin tertinggi Fungsi, Regional, dan Anak Perusahaan wajib memastikan pengelolaan risiko telah diterapkan sesuai dengan kerangka kerja kebijakan, strategi, dan prinsip Manajemen Resiko;</li>
                <li>Monitoring pengelolaan risiko (Top Risk) Ongoing Business dan Proyek Prioritas PHE Subholding Upstream dilaporkan secara berkala kepada Manajemen Risiko Perusahaan;</li>
                <li>Fungsi Internal Audit melakukan Risk Management Audit yang bertujuan untuk mendapatkan keyakinan yang memadai bahwa pengelolaan manajemen risiko telah dilakukan secara efektif;</li>
                <li>Meningkatkan komitmen, tanggung jawab, kesadaran, dan partisipasi dari Dewan Komisaris, Direksi, seluruh pekerja dan stakeholders;</li>
                <li>Menetapkan kebijakan yang dapat mendukung keberhasilan penerapan manajemen risiko, termasuk sistem, prosedur standar, dan metodologi yang disepakati antara Dewan Komisaris dan Direksi.</li>
            </div>
        </div>
    </div>
</div>

@code {

}
