@page "/tata-kelola/Kebijakan-antikorupsi"

<div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-55@2x.png)">
    <div class="container width-blog">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Kebijakan Anti Korupsi
            </h1>
        </div>
    </div>
</div>

<div class="rs-blog pt-20 pb-40">
    <div class="container width-blog">
        <div class="sec-title text-left mb-14">
            <h2 class="title title2 mb-14">
                Kebijakan Anti Korupsi
            </h2>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <p>Dalam rangka implementasi kebijakan Anti Korupsi, pada tahun 2021, PHE Subholding Upstream telah berhasil melaksanakan Surveillance Audit ke-1 atas Sistem Manajemen Anti Penyuapan (SMAP) ISO 37001:2016 Sistem Manajemen Anti Penyuapan (SMAP) dan menerbitkan Pedoman Sistem Manajemen Anti Penyuapan.</p>
                <p>PHE Subholding Upstream juga memastikan penerapan SMAP pada Anak Perusahaan dapat berjalan dengan baik pada seluruh kegiatan operasional dalam pencegahan tindak penyuapan. Sampai dengan akhir tahun 2021, terdapat 6 (enam) Anak Perusahaan yang telah memiliki sertifikasi ISO 37001:2016 SMAP, yaitu: </p>
                <ul>
                    <li>1. PT Pertamina EP</li>
                    <li>2. PT Pertamina Hulu Indonesia </li>
                    <li>3. PT Pertamina EP Cepu</li>
                    <li>4. PT Pertamina Internasional EP</li>
                    <li>5. PT Pertamina Drilling Services Indonesia</li>
                    <li>6. PT Elnusa Tbk</li>
                </ul>
            </div>
        </div>
        <div class="bg-white rounded-full shadow-2xl">
            <div class="btn-part text-left container">
                <br />
                <h4 class="text-xl mb-0">Pedoman SMAP No.A12-001/PHE01000/2022-S9</h4>
                <br />
                <a class="button" href="https://phe.pertamina.com/assets/files/pedoman-smap-2022.pdf" target="_blank">
                    Unduh Dokumen
                </a>
            </div>
            <div>
                <br /> 
            </div>
        </div>
        <br /><br />

        <div class="sec-title text-left mb-14">
            <h2 class="title title2 mb-14">
                Ketentuan Tentang Gratifikasi
            </h2>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <p>Pemutakhiran Pedoman Gratifikasi, Penolakan, Penerimaan, Pemberian Hadiah/Cinderamata Hiburan  telah berhasil dilakukan dengan terbitnya Pedoman Pengendalian Gratifikasi No. A13-002/PHE01000/2021-S9 tanggal 31 Desember 2021 yang dapat diakses pada tautan berikut:</p>
            </div>
        </div>
        <div class="bg-white rounded-full shadow-2xl">
            <div class="btn-part text-left container">
                <br />
                <h4 class="text-xl mb-0">Pedoman Gratifikasi No.A13-002 /PHE01000/2021-S9</h4>
                <br />
                <a class="button" href="https://phe.pertamina.com/assets/files/pedoman-gratifikasi-2022.pdf" target="_blank">
                    Unduh Dokumen
                </a>
            </div>
            <div>
                <br />
            </div>
        </div>
        <br /><br />

        <div class="sec-title text-left mb-14">
            <h2 class="title title2 mb-14">
                Pakta Integritas
            </h2>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <p>Dewan Komisaris dan Direksi PHE Subholding Upstream berkomitmen menjalankan perusahaan secara profesional, dengan menghindari benturan kepentingan, menjunjung tinggi kepercayaan dan integritas dengan berpedoman pada Tata Kelola Korporasi yang baik, sejalan dengan budaya bersih AKHLAK PT Pertamina (Persero) dan kode etik sebagai pedoman aktivitas operasional sehari-hari.</p>
            </div>
        </div>
        <div class="bg-white rounded-full shadow-2xl">
            <div class="btn-part text-left container">
                <br />
                <h4 class="text-xl mb-0">Pedoman Konflik Kepentingan No.A-0004/PHE040/2018-S9</h4>
                <br />
                <a class="button" href="https://phe.pertamina.com/assets/files/pedoman-pakta-integritas-2022.pdf" target="_blank">
                    Unduh Dokumen
                </a>
            </div>
            <div>
                <br />
            </div>
        </div>
        <br /><br />

        <div class="sec-title text-left mb-14">
            <h2 class="title title2 mb-14">
                Pelaporan LHKPN
            </h2>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <p>Dalam rangka implementasi tata nilai perusahaan, yaitu Amanah, PHE Subholding Upstream memiliki kebijakan penyampaian Laporan Harta Kekayaan Penyelenggara Negara (LHKPN) yang diwajibkan kepada seluruh pekerja di lingkungan PHE Subholding Upstream melalui SK Direksi PT PHE No. Kpts-019/PHE00000/2020-S0 tanggal 30 November 2020 tentang Kewajiban Penyampaian Laporan Harta Kekayaan Penyelenggara Negara Kepada Seluruh Pekerja di Lingkungan PHE Subholding Upstream. Berdasarkan dengan SK Direksi tersebut, pekerja dengan jabatan Assistant Manager/Setara ke atas diwajibkan untuk melakukan pelaporan LHKPN melalui website elhkpn.kpk.go.id dan untuk pekerja dengan jabatan Staf melakukan pelaporan LHKPN melalui aplikasi LHKPN PHE Subholding Upstream. Hal ini kemudian ditindaklanjuti dengan pembuatan SK pemberlakuan di masing-masing Direksi Anak Perusahaan.</p>
            </div>
        </div>
        <div class="bg-white rounded-full shadow-2xl">
            <div class="btn-part text-left container">
                <br />
                <h4 class="text-xl mb-0">
                    Pedoman LHKPN No.A13-001/PHE01000/2022-S9
                </h4>
                <br />
                <a class="button" href="https://phe.pertamina.com/assets/files/pedoman-pakta-integritas-2022.pdf" target="_blank">
                    Unduh Dokumen
                </a>
            </div>
            <div>
                <br />
            </div>
        </div>
        <br />
    </div>
</div>

@code {

}
