﻿
@page "/tata-kelola/kode-etik"

<div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-55@2x.png)">
    <div class="container width-blog">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Kode Etik
            </h1>
        </div>
    </div>
</div>
    <div class="rs-about style2 pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container width-blog" >
            <div class="sec-title text-left mb-14">
                <h2 class="title title2 primary-color3 mb-14">
                    Kode Etik Perusahaan
                </h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        PHE berkomitmen menialankan bisnis yang sah dan beretika, dengan menerapkan Kode Etik atau Kode Perilaku (Code of Conduct/COC). Sebagai upaya untuk terus meningkatkan penerapan tata kelola Perusahaan dan menyelaraskan dengan Pedoman COC PT Pertamina (Persero), pada tahun /2018, PHE melakukan perubahan pedoman COC yang semula tercantum Keputusan Pemegang Saham Secara Sirkuler PHE tanggal 22 April 2008 perihal Pedoman Good Corporate.
                    </p>
                    <p>
                        Governance (GCG) dan Code of Conduct (COC) meniadi Pedoman Perilaku dan Etika Bisnis/Code of Conduct (COC No. A-003/PHE040/2018-59 tanggal 20 Desember 2018. Kode Etik Perseroan telah merumuskan Kode Etik yang berlaku untuk seluruh karyawan Perseroan sebagai dasar dalam bertindak dan bertingkah laku sesuai dengan Best Practices dan ketentuan perundangan yang berlaku.
                    </p>
                    <p>
                        <b>Struktur Pemegang Saham Utama dan Pengendali Perseroan</b>
                        <ol>
                            <li>Memberikan pemahaman kepada semua karyawan Perseroan bahwa perusahaan dijalankan secara jujur dan terbuka, menciptakan lingkungan kerja yang baik, dengan komitmen terhadap peningkatan kesejahteraan karyawan.;</li>
                            <li>Sebagai bagian dari masyarakat, maka penting bagi Perseroan untuk menjaga hubungan yang baik dalam rangka membangun fundamental yang solid bagi keberhasilan perusahaan untuk jangka panjang dan meraih kesejahteraan sosial dan peningkatan ekonomi.;</li>
                            <li>Sebagai bagian dari komunitas usaha jasa transportasi laut, penerapan dan komitmen terhadap pelaksanaan kode etik sangat penting untuk mendukung Perseroan dalam menghadapi berbagai permasalahan hukum dan sebagai bagian dari pengelolaan risiko yang baik serta upaya untuk memperkuat goodwill dan reputasi Perseroan.</li>
                        </ol>
                    </p>
                    <p>
                        <b>Penandatangan Pakta Integritas</b>
                    </p>
                    <p>
                        Kode Etik Perusahaan berlaku bagi semua karyawan dari setiap jenjang di organisasi, termasuk Direksi dan Dewan Komisaris. Untuk memastikan efektivitas pelaksanaannya, seluruh organ di lingkungan Perseroan diwajibkan menandatangani Pakta Integritas yang menyatakan komitmennya untuk mematuhi pokokpokok dalam Kode Etik Perusahaan dalam rangka membangun budaya bisnis yang beretika.
                    </p>
                    <p>
                        <b>Pokok-Pokok Kode Etik</b>
                        <ol>
                            <li>Etika Perusahaan terkait Karyawan</li>
                            <li>Etika Perusahaan terhadap Pelanggan</li>
                            <li>Etika Perusahaan terkait Produsen dan Penyediaan Jasa</li>
                            <li>Etika Perusahaan terkait Kompetitor</li>
                            <li>Etika Perusahaan terhadap Masyarakat</li>
                            <li>Etika Perusahaan terkait Gratifikasi dan Anti Korupsi</li>
                        </ol>
                    </p>
                    <p>
                        <b>Sosialisasi Kode Etik</b>
                    </p>
                    <p>
                        Perseroan melakukan sosialisasi kode etik melalui berbagai cara, termasuk secara langsung dalam berbagai pelatihan serta dengan memanfaatkan beragam media, baik cetak maupun elektronik. Sosialisasi yang konsisten dan berkesinambungan ini mampu meningkatkan kesadaran karyawan di berbagai tingkatan organisasi terhadap pelaksanaan kode etik perusahaan.
                    </p>
                    <p>
                        <b>Pelanggaran Kode Etik dan Penegakan Sanksi</b>
                    </p>
                    <p>
                        Pengawasan kepatuhan terhadap pelaksanaan kode etik perusahaan menjadi tanggung jawab dari Kepala Unit Kerja. Perseroan akan menerapkan sanksi tegas terhadap setiap tindakan pelanggaran terhadap kode etik yang dapat dibuktikan. Sanksi pelanggaran dapat berupa Tindakan indisipliner yang sesuai dengan ketentuan perusahaan. Tingkat sanksi pelanggaran Kode Etik Perusahaan adalah sebagai berikut:
                        <ol>
                            <li>Sanksi Minor: Peringatan Tertulis</li>
                            <li>Sanksi Tingkat Menengah: Pemutusan Hubungan Kerja</li>
                            <li>Sanksi Berat: Pemutusan Hubungan Kerja.</li>
                        </ol>
                    </p>
                    <p>
                        Sebagai bentuk peningkatan kualitas penerapan tata kelola perusahaan, Perseroan di tahun ini tidak mencatat adanya laporan pelanggaran kode etik.
                    </p>
                </div>

                <div class="bg-white rounded-full shadow-2xl">
                        <div class="btn-part text-left">
                            <br />
                            <h4 class="text-xl mb-0">Piagam Dewan Komisaris</h4>
                            <br />
                            <a class="button" href="https://phe.pertamina.com/assets/files/bod-charter.pdf" target="_blank">
                                Unduh Dokumen
                            </a>
                        </div>
                    <div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>


@code {

}
