@page "/tata-kelola/piagam-direksi"


    <div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-55@2x.png)">
        <div class="container width-blog">
            <div class="breadcrumbs-inner">
                <h1 class="page-title">
                    Piagam Dewan Direksi
                </h1>
            </div>
        </div>
    </div>
    <div class="rs-about style2 pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container width-blog" >
            <div class="sec-title text-left mb-14">
                <h2 class="title title2 primary-color3 mb-14">
                    PEDOMAN DAN TATA TERTIB KERJA DIREKSI
                </h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Direksi bekerja berdasarkan Pedoman Board Manual No. A-005/PHE040/2018-S9 Kerja Direksi PHE, tertanggal 31 Oktober 2018. Board Manual merupakan salah satu soft structure GCG yang merupakan penjabaran dari Pedoman Tata Kelola Perusahaan yang mengacu pada Anggaran Dasar Perseroan, dan bertujuan untuk:
                        <ol>
                            <li>Menjadi rujukan/pedoman tentang tugas pokok dan fungsi kerja masing-masing organ;</li>
                            <li>Meningkatkan kualitas dan efektivitas hubungan kerja antar-organ;</li>
                            <li>Menerapkan prinsip-prinsip GCG yakni transparansi, akuntabilitas, responsibilitas, independensi, dankewajaran (fairness).</li>
                        </ol>
                    </p>
                    <p>
                        Board Charter antara lain mengatur tentang:
                        <ol>
                            <li>Program pengenalan dan peningkatan kapabilitas</li>
                            <li>Independensi (kemandirian) Direksi</li>
                            <li>Etika jabatan anggota Direksi</li>
                            <li>Susunan, tugas, dan wewenang Direksi</li>
                            <li>Rapat Direksi</li>
                            <li>Evaluasi kinerja Direksi</li>
                            <li>Fungsi pendukung</li>
                            <li>Hubungan perusahaan dengan Anak Perusahaan</li>
                        </ol>
                    </p>
                </div>

                <div class="bg-white rounded-full shadow-2xl">
                        <div class="btn-part text-left">
                            <br />
                            <h4 class="text-xl mb-0">Piagam Dewan Komisaris</h4>
                            <br />
                            <a class="button" href="https://phe.pertamina.com/assets/files/bod-charter.pdf" target="_blank">
                                Unduh Dokumen
                            </a>
                        </div>
                    <div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>

@code {

}
