@page "/tata-kelola/piagam-komisaris"

    <div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-55@2x.png)">
        <div class="container width-blog">
            <div class="breadcrumbs-inner">
                <h1 class="page-title">
                    Piagam Dewan Komisaris
                </h1>
            </div>
        </div>
    </div>
    <div class="rs-about style2 pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container width-blog" >
            <div class="sec-title text-left mb-14">
                <h2 class="title title2 primary-color3 mb-14">
                    PEDOMAN DAN TATA TERTIB KERJA DEWAN KOMISARIS
                </h2>
            </div>
            <div class="row">
                <div class="col-12">
                <p>Dewan Komisaris telah memiliki Board Charter, yaitu Pedoman dan Tata Tertib Kerja Dewan Komisaris dan Komite-komite yang berada di bawah Dewan Komisaris. Pedoman tersebut terakhir diperbaharui tanggal 1 Oktober 2018.</p>

                <p>Secara berkala Dewan Komisaris melakukan peninjauan dan evaluasi atas Board Charter yang berlaku untuk memastikan kesesuaian dengan praktik-praktik terbaik GCG, perubahan peraturan yang berlaku, dan kebutuhan Perusahaan. Pada tahun 2021, Dewan Komisaris melakukan peninjauan atas Board Charter dengan melibatkan perangkat Dewan Komisaris, dengan hasil bahwa Board Charter tersebut masih relevan untuk digunakan.</p>

                <p>Board Charter antara lain mengatur tentang:
                <li>Tugas Dewan Komisaris, meliputi: lingkup pekerjaan, pembagian tugas, pelaksanaan tugas khusus.</li>
                <li>Tanggung jawab dan kewenangan Dewan Komisaris.</li>
                <li>Mekanisme kerja meliputi: hubungan kerja dengan direksi, kerahasiaan, etika berusaha dan anti korupsi dan evaluasi kinerja.</li>
                <li>Rapat</li>
                <li>Pelaporan</li>
                <li>Anggaran</li>
                </p>
            </div>

                <div class="bg-white rounded-full shadow-2xl">
                    <div class="btn-part text-left">
                        <br />
                        <h4 class="text-xl mb-0">Piagam Dewan Komisaris</h4>
                        <br />
                        <a class="button" href="https://phe.pertamina.com/assets/files/boc-charter.pdf" target="_blank">
                            Unduh Dokumen
                        </a>
                    </div>
                <div>
                    <br />
                </div>
            </div>
            </div>
        </div>
    </div>

@code {

}
