@page "/tata-kelola/sistem-pelaporan"

    <div class="rs-breadcrumbs -mt-20 lazy" style="background-image: url(../../assets/images/rectangle-55@2x.png)">
        <div class="container width-blog" >
            <div class="breadcrumbs-inner">
                <h1 class="page-title">
                    Sistem Pelaporan
                </h1>
            </div>
        </div>
    </div>
    <div class="rs-about style2 pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container width-blog" >
            <div class="sec-title text-left mb-14">
                <h2 class="title title2 primary-color3 mb-14">
                    Sistem Pelaporan
                </h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="col-lg-6 pr-33 md-pr-15 md-mb-50 container" style="text-align:center">
                        <div class="images-part">
                            <img class="h-auto lazy" src="assets/images/foto/image21.png" />
                        </div>
                    </div>
                    <br />
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>

@code {

}
