@page "/old"

<PageTitle>Kilang Pertamina International</PageTitle>

<div>
    <div id="rs-slider" class="rs-slider slider3 rs-slider-style4 relative mt-n40">
        <div class="bend niceties">
            <div id="nivoSlider" class="slides">
                <img class="h-auto lazy" src="https://phe.pertamina.com/assets/images/banner/masthead2.jpg?format=webp"
                     data-srcset="https://phe.pertamina.com/assets/images/banner/masthead2.jpg?format=webp&width=375 375w,https://phe.pertamina.com/assets/images/banner/masthead2.jpg?format=webp&width=480 480w, https://phe.pertamina.com/assets/images/banner/masthead2.jpg?format=webp&width=480 480w, https://phe.pertamina.com/assets/images/banner/masthead2.jpg?format=webp&width=480 912w"
                     data-src="https://phe.pertamina.com/assets/images/banner/masthead2.jpg?format=webp" alt="" title="#slide-2" />

            </div>
            <div id="slide-2" class="slider-direction">
                <div class="content-part">
                    <div class="container width-blog">
                        <div class="slider-des">
                            <div class="sl-subtitle">Lorem Ipsum,</div>
                            <h2 class="sl-title">Dolor sit amet constentua</h2>
                        </div>
                        @* <div class="desc">
                        <div class="draw-line start-draw"></div>

                        </div>*@
                        <div class="slider-bottom ">
                            <a class="readon2 consultant slider" href="/en/company/milestone">Lorem Ipsum Dolor</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rs-about style5 relative pt-140 md-pt-80 pb-5">
        <div class="container width-blog">
            <div class="row">
                <div class="col-lg-6 order-md-1">
                    <div class="desc left-line-v text-base leading-loose">
                        <div class="draw-line start-draw"></div>
                        <div class="right-side ml-3">
                            <img class="h-auto" src="assets/images/rectangle-25@2x.png" alt="Profil">
                        </div>
                        <br /><br />
                    </div>
                </div>
                <div class="col-lg-6 md-pt-50">
                    <div class="sec-title4 mb-30">
                        <div class="c-title-blue mb-3">PROFIL PERUSAHAAN</div>
                        <h2 class="title primary-color md:text-5xl">Tentang Kami</h2>
                        <div class="desc -line-v text-base leading-loose">
                            <div class="draw-line start-draw"></div>
                            <p class="text-right">Transformasi subholding bisnis merupakan langkah strategis Pertamina agar dapat beradaptasi dengan perubahan ke depan, bergerak lebih lincah, cepat serta fokus untuk pengembangan bisnis yang lebih luas dan agresif. PT Kilang Pertamina Internasional sebagai subholding Refining & Petrochemica PT Pertamina (Persero) siap menghadapi tantangan dan kompetisi di lini bisnis pengolahan dan petrokimia untuk mendukung Pertamina menjadi perusahan global energi terdepan</p>
                        </div>
                    </div>
                    <div class="btn-part text-right">
                        <a class="button" href="/en/company/profile">
                            Pelajari Lebih Lanjut
                        </a>
                    </div>
                </div>
            </div>
            @*<div class="pattern-img">
            <img class="left-pattern" src="https://phe.pertamina.com/assets/images/pattern/pattern1.png?format=webp" alt="">
            </div>*@
        </div>
    </div>
    <br /><br />

    @*    <div class="rs-about style5 relative md:pt-24 pb-5">*@
    <div class="container width-blog">
        <div class="row">
            <div class="col-lg-6 md:pr-8">
                <div class="left-side text-right mr-3">
                    <img class="h-auto lazy" src="assets/images/Rectangle 30.png" alt="Profil">
                </div>
            </div>
            <div class="col-lg-6 md-pt-50">
                <div class="sec-title4 mb-30">
                    <div class="c-title-blue mb-3 text-right">PROFIL PERUSAHAAN</div>
                    <h2 class="title primary-color md:text-5xl text-right">Bisnis Kami</h2>
                    <div class="desc left-line-v text-base leading-loose">
                        <div class="draw-line start-draw"></div>
                        <p class="text-left">Kegiatan bisnis kami mencakup seluruh kegiatan pengolahan energi dari pengolahan bahan bakar minyak dan produk petrokimia serta mega proyek penyediaan infrastruktur kilang pengolahan yang baru maupun upgrading kilang pengolahan eksisting</p>
                    </div>
                </div>
                <div class="btn-part text-left">
                    <a class="button" href="#SectionSubsidiary">
                        Pelajari Lebih Lanjut
                    </a>
                </div>
            </div>
        </div>
        @*<div class="pattern-img">
        <img class="left-pattern" src="https://phe.pertamina.com/assets/images/pattern/pattern1.png?format=webp" alt="">
        </div>*@
    </div>
    <br /><br />


    <div class="rs-services style1 modify pt-20 md-pt-70 pb-140 md-pb-80">
        <div class="container" style="width: 90%;">
            <div class="sec-title4 text-center mb-16">
                <h2 class="c-title-blue">PROFIL PERUSAHAAN</h2>
                <h3 class="title primary-color md:text-5xl"><b>Kegiatan Usaha Perusahaan</b></h3>
            </div>
            <div class="row service-wrap mr-0 ml-0">
                <div class="col-lg-4 padding-0 ">
                    <div class="service-grid">
                        @*<div class="service-icon mb-2">
                        <img class="h-auto lazy" src="https://phe.pertamina.com/assets/images/placeholder.jpeg?format=webp"
                        data-src="https://phe.pertamina.com/assets/images/icons/exploration.svg" alt="Exploration">
                        </div>*@
                        <h4 class="title mb-18 text-black text-3xl"><a href="#" class="text-black">Refining</a></h4>
                        <div class="desc mb-4 text-sm leading-normal">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 padding-0">
                    <div class="service-grid">
                        @*  <div class="service-icon mb-2">
                        <img class="h-auto lazy" src="https://phe.pertamina.com/assets/images/placeholder.jpeg?format=webp"
                        data-src="https://phe.pertamina.com/assets/images/icons/production.svg" alt="Operation and Production">
                        </div>*@
                        <h4 class="title mb-18 text-black text-3xl"><a href="#" class="text-black">Project</a></h4>
                        <div class="desc mb-4 text-sm leading-normal">
                            <p><strong>Operation and Production</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            @* <ol>
                            <li>Management of all maintenance activities, including facility repair and modification, infill development drilling and well work operations, management of planned shutdowns, minimizing unplanned shutdowns and setting targets, and monitoring and optimizing oil and gas production.</li>
                            <li>Implementation of an Asset Integrity Management System (AIMS) to manage preventive and corrective actions in the operation, care, and maintenance of the reliability of field-based manufacturing facilities.</li>
                            <li>Production Optimization Synergy System (SSOP) and Maximize Oil Recovery Effort (MORE).</li>
                            <li>Organizing TCM-OCM Meetings and special workshops with partners.</li>
                            </ol>*@
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 padding-0 ">
                    <div class="service-grid">
                        <h4 class="title mb-18 text-black text-3xl"><a href="#" class="text-black">Commercial</a></h4>
                        <div class="desc mb-4 text-sm leading-normal">
                            <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            <p></p>
                            <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            <p></p>
                            @* <ul>
                            <li>Synergy support between Subholding Upstream subsidiaries, and Pertamina Group</li>
                            <li>Applicable permits and regulations.</li>
                            </ul>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* <div class="rs-about style5 relative md:pt-24 pb-5">*@
    <div class="container width-blog">
        <div class="text-center mb-8 pb-10">
            <h2 class="c-title-blue">
                HUBUNGAN INVESTOR
            </h2>
            <h3 class="title primary-color md:text-5xl">
                Prospektus dan Informasi Keuangan
            </h3>
        </div>
        <div class="row mt-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-md-1">
                        <div class="desc left-line-v text-base leading-loose">
                            <div class="draw-line start-draw"></div>
                            <div class="right-side ml-3">
                                <img class="h-auto" src="assets/images/rectangle-25@2x.png" alt="Profil">
                            </div>
                            <br /> <br />
                            @*<div class="col-lg-6 mt-5 md:mt-0">*@
                            <div class="md:pl-8">
                                <div class="shadow-3xl rounded-r-lg px-7 py-3 mb-5">
                                    <div class="flex justify-content-between items-center">
                                        <div class="flex-none">
                                        </div>
                                        <h4 class="font-bold text-sm flex-auto w-64 mb-0 ml-3 text-black">Financial Statement</h4>
                                        <div class="col-auto flex-none">
                                            <a class="readmore" href="/en/investor-relations/financial-reports">
                                                View all <div class="btn-arrow">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shadow-3xl rounded-r-lg px-7 py-3 mb-5">
                                    <div class="flex justify-content-between items-center">
                                        <div class="flex-none">
                                        </div>
                                        <h4 class="font-bold text-sm flex-auto w-64 mb-0 ml-3 text-black">Annual Report</h4>
                                        <div class="col-auto flex-none">
                                            <a class="readmore" href="/en/investor-relations/annual-reports">
                                                View all <div class="btn-arrow">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="shadow-3xl rounded-r-lg px-7 py-3 mb-5">
                                    <div class="flex justify-content-between items-center">
                                        <div class="flex-none">
                                        </div>
                                        <h4 class="font-bold text-sm flex-auto w-64 mb-0 ml-3 text-black">Investor Presentation</h4>
                                        <div class="col-auto flex-none">
                                            <div class="draw-line start-draw"></div>
                                            <a class="readmore" href="/en/investor-relations/company-presentation">
                                                View all <div class="btn-arrow">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="col-lg-6 md-pt-50">
                        <div class="desc -line-v text-base leading-loose">
                            <div class="draw-line start-draw"></div>
                            <p class="text-right">Transformasi subholding bisnis merupakan langkah strategis Pertamina agar dapat beradaptasi dengan perubahan ke depan, bergerak lebih lincah, cepat serta fokus untuk pengembangan bisnis yang lebih luas dan agresif. PT Kilang Pertamina Internasional sebagai subholding Refining & Petrochemica PT Pertamina (Persero) siap menghadapi tantangan dan kompetisi di lini bisnis pengolahan dan petrokimia untuk mendukung Pertamina menjadi perusahan global energi terdepan</p>
                        </div>
                        <div class="btn-part text-right">
                            <a class="button" href="/en/company/profile">
                                Pelajari Lebih Lanjut
                            </a>
                        </div>
                    </div>
                </div>
                @*<div class="pattern-img">
                <img class="left-pattern" src="https://phe.pertamina.com/assets/images/pattern/pattern1.png?format=webp" alt="">
                </div>*@
            </div>
        </div>
        @*            <img class="pattern-img" src="https://phe.pertamina.com/assets/images/pattern/pattern4.png?format=webp" alt="">
        *@
    </div> <br /><br />
    @*</div>*@

    <div class="rs-cta style1  relative pt-128 pb-128 md:pt-24 md:pb-24" style="background:#0071C1">
        <div class="container">
            <div class="sec-title4">
                <h3 class="title white-color md:text-5xl" style="text-align: center;">
                    Sistem Pelaporan
                </h3>
                <h2 class="text-white text-2xl font-normal left-line-v margin-0" style="text-align: center;">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                </h2>
                <br /><br />
                <div class="btn-part text-center">
                    <a class="button" href="#SectionSubsidiary">
                        Laporan Tata Laku yang Tidak Semestinya
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-20 pb-20 white-bg2" id="SectionSubsidiary">
        <div class="container width-blog">
            <div class="sec-title4 text-center mb-16">
                <h3 class="title primary-color md:text-5xl">Regional</h3>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-5 mb-10">
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <a href="https://pdsi.pertamina.com/" target="_blank">
                        <h3 class="primary-color2 font-bold text-sm mb-1">Refinery II</h3>
                        <h3 class="uppercase font-bold text-xl mb-1">Dumai</h3>
                    </a>
                </div>
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <a href="https://pdsi.pertamina.com/" target="_blank">
                        <h3 class="primary-color2 font-bold text-sm mb-1">Refinery III</h3>
                        <h3 class="uppercase font-bold text-xl mb-1">PLAJU</h3>
                    </a>
                </div>
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <a href="http://badaklng.com/" target="_blank">
                        <h3 class="primary-color2 font-bold text-sm mb-1">Refinery IV</h3>
                        <h3 class="uppercase font-bold text-xl mb-1">CILACAP</h3>
                    </a>
                </div>
            </div>
            <div class="sec-title4 text-center mb-16">
                <h3 class="title primary-color md:text-5xl"></h3>
            </div>
            <br /><br />
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-5 mb-10">
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <a href="https://www.elnusa.co.id/" target="_blank">
                        <h3 class="primary-color2 font-bold text-sm mb-1">Refinery V</h3>
                        <h3 class="uppercase font-bold text-xl mb-1">BALIKPAPAN</h3>
                    </a>
                </div>
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <a href="https://pdsi.pertamina.com/" target="_blank">
                        <h3 class="primary-color2 font-bold text-sm mb-1">Refinery VI</h3>
                        <h3 class="uppercase font-bold text-xl mb-1">BALONGAN</h3>
                    </a>
                </div>
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <a href="http://badaklng.com/" target="_blank">
                        <h3 class="primary-color2 font-bold text-sm mb-1">Refinery VII</h3>
                        <h3 class="uppercase font-bold text-xl mb-1">KASIM</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-20 pb-20 white-bg2" id="SectionSubsidiary">
        <div class="container width-blog">
            <div class="sec-title4 text-center mb-16">
                <h3 class="title primary-color md:text-5xl">Afiliasi</h3>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-5 mb-10">
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <a href="https://www.elnusa.co.id/" target="_blank">
                        <h3 class="primary-color2 font-bold text-xl mb-1">KPB</h3>
                        <h3 class="font-bold text-sm mb-1">Kilang Pertamina Balikpapan</h3>
                    </a>
                </div>
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <a href="https://pdsi.pertamina.com/" target="_blank">
                        <h3 class="primary-color2 font-bold text-xl mb-1">PRPP</h3>
                        <h3 class="font-bold text-sm mb-1">Pertamina Rosneft Pengolahan & Petrokimia</h3>
                    </a>
                </div>
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <a href="http://badaklng.com/" target="_blank">
                        <h3 class="primary-color2 font-bold text-xl mb-1">TPI Group</h3>
                        <h3 class="font-bold text-sm mb-1">Tuban Petrochemical Industries Group</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br /><br />

    <div class="pt-20 pb-20 white-bg2" id="SectionSubsidiary">
        <div class="container width-blog">
            <div class="text-center mb-8 pb-10">
                <h2 class="c-title-blue">
                    MEDIA DAN INFORMASI
                </h2>
                <h3 class="title primary-color md:text-5xl">
                    Galeri Foto
                </h3>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5 mb-10">
                <div class="bg-white rounded-full text-center">
                    <img class="h-auto" src="assets/images/foto/Rectangle 30.png" alt="Profil">
                </div>
                <div class="bg-white rounded-full text-center">
                    <img class="h-auto" src="assets/images/foto/Rectangle 31.png" alt="Profil">
                </div>
                <div class="bg-white rounded-full text-center">
                    <img class="h-auto" src="assets/images/foto/Rectangle 32.png" alt="Profil">
                </div>
                <div class="bg-white rounded-full text-center">
                    <img class="h-auto" src="assets/images/foto/Rectangle 33.png" alt="Profil">
                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br />
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5 mb-10">
                <div class="bg-white rounded-full text-center">
                    <img class="h-auto" src="assets/images/foto/Rectangle 34.png" alt="Profil">
                </div>
                <div class="bg-white rounded-full text-center">
                    <img class="h-auto" src="assets/images/foto/Rectangle 35.png" alt="Profil">
                </div>
                <div class="bg-white rounded-full text-center">
                    <img class="h-auto" src="assets/images/foto/Rectangle 36.png" alt="Profil">
                </div>
                <div class="bg-white rounded-full text-center">
                    <img class="h-auto" src="assets/images/foto/Rectangle 37.png" alt="Profil">
                </div>
            </div>
            <br /><br />
            <div class="btn-part text-right">
                <a class="button" href="/en/company/profile">
                    Pelajari Lebih Lanjut
                </a>
            </div>
        </div>
    </div>

    <div class="rs-about style5 relative pt-140 md-pt-80 pb-5">
        <div class="container width-blog">
            <div class="row">
                <div class="col-lg-6 order-md-1">
                    <div class="right-side ml-3">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/uWJ3vtU0OZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <br /><br />
                </div>
                <div class="col-lg-6 md-pt-50">
                    <div class="sec-title4 mb-30">
                        <div class="c-title-blue mb-3">MEDIA DAN INFORMASI</div>
                        <h2 class="title primary-color md:text-5xl">Video</h2>
                        <h3 class="font-bold text-xl mb-1" style="text-align:right">Keterbukaan Informasi</h3>
                        <p class="text-right">Dalam memenuhi kebutuhan informasi bagi masyarakat, Pertamina memberikan akses yang luas untuk dapat mencari informasi seputar kegiatan energi di Indonesia</p>
                    </div>
                    <div class="btn-part text-right">
                        <a class="button" href="/en/company/profile">
                            Pelajari Lebih Lanjut
                        </a>
                    </div>
                </div>
            </div>
            @*<div class="pattern-img">
            <img class="left-pattern" src="https://phe.pertamina.com/assets/images/pattern/pattern1.png?format=webp" alt="">
            </div>*@
        </div>
    </div>

    <div class="pt-20 pb-20 white-bg2" id="SectionSubsidiary">
        <div class="container width-blog">
            <div class="text-center mb-8 pb-10">
                <h2 class="c-title-blue">
                    MEDIA DAN INFORMASI
                </h2>
                <h3 class="title primary-color md:text-5xl">
                    Newsletter
                </h3>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-5 mb-70">
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <img class="h-auto1" src="assets/images/foto/Rectangle 19.png" alt="Profil">
                    <br /><br />
                    <h3 class="font-bold text-sm mb-1">Mangga Agrimania: Inovasi Terbaru Industri Pertanian yang Ramah Lingkungan</h3>
                    <br />
                    <h3 class="font-bold text-xs mb-1 text-gray-200">21-06-2023</h3>
                </div>
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <img class="h-auto1" src="assets/images/foto/Rectangle 22.png" alt="Profil">
                    <br /><br />
                    <h3 class="font-bold text-sm mb-1">Selama 2022, PT KPI Realisasikan 63 Program TJSL dan Raih 80 Penghargaan</h3>
                    <br />
                    <h3 class="font-bold text-xs mb-1 text-gray-200">16-06-2023</h3>
                </div>
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <img class="h-auto1" src="assets/images/foto/Rectangle 24.png" alt="Profil">
                    <br /><br />
                    <h3 class="font-bold text-sm mb-1">Inovasi PT KPI olah gambut jadi air bersih untuk warga</h3>
                    <br />
                    <h3 class="font-bold text-xs mb-1 text-gray-200">13-06-2023</h3>
                </div>
            </div>
            <br /><br /><br /><br /><br /><br />
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-5 mb-10">
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <img class="h-auto1" src="assets/images/foto/Rectangle 35 (1).png" alt="Profil">
                    <br /><br />
                    <h3 class="font-bold text-sm mb-1">Coastal Clean Up, Komitmen KPI Lestarikan Lingkungan Pesisir</h3>
                    <br />
                    <h3 class="font-bold text-xs mb-1 text-gray-200">21-08-2023</h3>
                </div>
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <img class="h-auto1" src="assets/images/foto/Rectangle 36 (1).png" alt="Profil">
                    <br /><br />
                    <h3 class="font-bold text-sm mb-1">Kilang Pertamina Internasional Bukukan Kinerja di Tahun 2022, Tertinggi Sepanjang Sejarah Berdiri</h3>
                    <br />
                    <h3 class="font-bold text-xs mb-1 text-gray-200">20-08-2023</h3>
                </div>
                <div class="bg-white rounded-full shadow-2xl text-center p-4">
                    <img class="h-auto1" src="assets/images/foto/Rectangle 37 (1).png" alt="Profil">
                    <br /><br />
                    <h3 class="font-bold text-sm mb-1">Sinergikan Warga Bangun Kampung Pangan Inovatif, Kontribusi KPI Tingkatkan Kualitas SDM Indonesia</h3>
                    <br />
                    <h3 class="font-bold text-xs mb-1 text-gray-200">20-08-2023</h3>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <div class="pt-20 pb-20 white-bg2" id="SectionSubsidiary">
        <div class="container width-blog">
            <div class="btn-part text-right">
                <a class="button" href="/en/company/profile">
                    Pelajari Lebih Lanjut
                </a>
            </div>
        </div>
    </div>
    <br /><br />
</div>
